Repository kora-projects/kora, pull requests merged in 2024-05, with the labels that each got.

#31 Lifecycle logging standardized
  application-graph/src/main/java/ru/tinkoff/kora/application/graph/internal/GraphImpl.java
  cache/cache-redis/src/main/java/ru/tinkoff/kora/cache/redis/lettuce/LettuceRedisCacheClient.java
  common/src/main/java/ru/tinkoff/kora/common/util/TimeUtils.java
  database/database-cassandra/src/main/java/ru/tinkoff/kora/database/cassandra/CassandraDatabase.java
  database/database-flyway/src/main/java/ru/tinkoff/kora/database/flyway/FlywayJdbcDatabaseInterceptor.java
  database/database-jdbc/src/main/java/ru/tinkoff/kora/database/jdbc/JdbcDatabase.java
  database/database-r2dbc/src/main/java/ru/tinkoff/kora/database/r2dbc/R2dbcDatabase.java
  database/database-vertx/src/main/java/ru/tinkoff/kora/database/vertx/VertxDatabase.java
  grpc/grpc-client/src/main/java/ru/tinkoff/grpc/client/ManagedChannelLifecycle.java
  grpc/grpc-server/src/main/java/ru/tinkoff/kora/grpc/server/GrpcNettyServer.java
  http/http-client-jdk/src/main/java/ru/tinkoff/kora/http/client/jdk/JdkHttpClientWrapper.java
  http/http-client-ok/src/main/java/ru/tinkoff/kora/http/client/ok/OkHttpClientWrapper.java
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/UndertowHttpServer.java
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/UndertowPrivateHttpServer.java
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/XnioLifecycle.java
  jms/src/main/java/ru/tinkoff/kora/jms/JmsConnectionFactory.java
  jms/src/main/java/ru/tinkoff/kora/jms/JmsMessageListenerContainer.java
  jms/src/main/java/ru/tinkoff/kora/jms/JmsUtils.java
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/consumer/containers/KafkaAssignConsumerContainer.java
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/consumer/containers/KafkaSubscribeConsumerContainer.java
  scheduling/scheduling-jdk/src/main/java/ru/tinkoff/kora/scheduling/jdk/AbstractJob.java
  scheduling/scheduling-jdk/src/main/java/ru/tinkoff/kora/scheduling/jdk/DefaultJdkSchedulingExecutor.java
  scheduling/scheduling-quartz/src/main/java/ru/tinkoff/kora/scheduling/quartz/KoraQuartzJobRegistrar.java
  scheduling/scheduling-quartz/src/main/java/ru/tinkoff/kora/scheduling/quartz/KoraQuartzScheduler.java
  test/test-junit5/src/main/java/ru/tinkoff/kora/test/extension/junit5/KoraJUnit5Extension.java
  test/test-junit5/src/main/java/ru/tinkoff/kora/test/extension/junit5/TestGraph.java
Labels: minor change

#1 GraalVM support
  application-graph/src/main/java/ru/tinkoff/kora/application/graph/internal/GraphImpl.java
  application-graph/src/main/java/ru/tinkoff/kora/application/graph/internal/loom/VirtualThreadExecutorHolder.java
  application-graph/src/main/resources/META-INF/native-image/ru.tinkoff.kora.application.graph.internal.loom/reflect-config.json
  application-graph/src/main/resources/META-INF/native-image/ru.tinkoff.kora.application.graph/native-image.properties
  build.gradle
  common/src/main/java/ru/tinkoff/kora/common/Context.java
  common/src/main/java/ru/tinkoff/kora/common/util/ReactorContextHook.java
  common/src/main/java/ru/tinkoff/kora/common/util/loom/VirtualThreadExecutorHolder.java
  common/src/main/resources/META-INF/native-image/ru.tinkoff.kora.common/native-image.properties
  common/src/main/resources/META-INF/native-image/ru.tinkoff.kora/common/native-image.properties
  config/config-common/src/main/resources/META-INF/native-image/ru.tinkoff.kora/config-common/native-image.properties
  config/config-hocon/src/main/resources/META-INF/native-image/ru.tinkoff.kora.config.hocon/resource-config.json
  config/config-yaml/src/main/resources/META-INF/native-image/ru.tinkoff.kora.config.yaml/native-image.properties
  config/config-yaml/src/main/resources/META-INF/native-image/ru.tinkoff.kora.config.yaml/resource-config.json
  database/database-cassandra/src/main/resources/META-INF/native-image/ru.tinkoff.kora/database-cassandra/native-image.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  grpc/grpc-server/src/main/resources/META-INF/native-image/ru.tinkoff.kora/grpc-server/native-image.properties
  http/http-client-async/src/main/resources/META-INF/native-image/ru.tinkoff.kora/http-client-async/native-image.properties
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/PrivateApiHandler.java
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/UndertowHttpServer.java
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/UndertowPrivateHttpServer.java
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/XnioLifecycle.java
  http/http-server-undertow/src/main/resources/META-INF/native-image/ru.tinkoff.kora.http.server.undertow/native-image.properties
  http/http-server-undertow/src/main/resources/META-INF/native-image/ru.tinkoff.kora.http.server.undertow/reflect-config.json
  json/json-common/src/main/resources/META-INF/native-image/ru.tinkoff.kora.json.common/native-image.properties
  kafka/kafka/src/main/resources/META-INF/native-image/ru.tinkoff.kora/kafka-common/native-image.properties
  logging/logging-common/src/main/java/ru/tinkoff/kora/logging/common/MDC.java
  logging/logging-common/src/main/resources/META-INF/native-image/ru.tinkoff.kora.logging.common/native-image.properties
  logging/logging-logback/src/main/java/ru/tinkoff/kora/logging/logback/ConsoleTextRecordEncoder.java
  logging/logging-logback/src/main/resources/META-INF/native-image/ru.tinkoff.kora.logging.logback/reflect-config.json
  logging/logging-logback/src/main/resources/META-INF/native-image/ru.tinkoff.kora.logging.logback/resource-config.json
  micrometer/micrometer-module/src/main/resources/META-INF/native-image/ru.tinkoff.kora/micrometer-module/native-image.properties
  netty-common/src/main/java/ru/tinkoff/kora/netty/common/NettyCommonModule.java
  netty-common/src/main/resources/META-INF/native-image/ru.tinkoff.kora/netty-common/native-image.properties
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinServerResponseMappers.mustache
  openapi/openapi-management/src/main/resources/META-INF/native-image/ru.tinkoff.kora.openapi.management/resource-config.json
  openapi/openapi-management/src/main/resources/kora/openapi/management/swagger-ui/index.html
  opentelemetry/opentelemetry-tracing/src/main/resources/META-INF/native-image/ru.tinkoff.kora/opentelemetry-tracing/native-image.properties
Labels: improvement, lang: java

#32 Aop annotation processor should not crash without kora dependencies in compile unit
  aop/aop-annotation-processor/src/main/java/ru/tinkoff/kora/aop/annotation/processor/AopAnnotationProcessor.java
  aop/aop-annotation-processor/src/main/java/ru/tinkoff/kora/aop/annotation/processor/AopProcessor.java
Labels: bug, lang: java

#33 Fix @ResponseCodeMapper behaviour when only code defined
  common/src/main/java/ru/tinkoff/kora/common/util/ByteBufferPublisherInputStream.java
  http/http-client-annotation-processor/src/main/java/ru/tinkoff/kora/http/client/annotation/processor/ClientClassGenerator.java
  http/http-client-annotation-processor/src/test/java/ru/tinkoff/kora/http/client/annotation/processor/AsyncApiTest.java
  http/http-client-annotation-processor/src/test/java/ru/tinkoff/kora/http/client/annotation/processor/BlockingApiTest.java
  http/http-client-symbol-processor/src/test/kotlin/ru/tinkoff/kora/http/client/symbol/processor/BlockingApiTest.kt
  http/http-client-symbol-processor/src/test/kotlin/ru/tinkoff/kora/http/client/symbol/processor/SuspendApiTest.kt
Labels: bug, module: http

#34 Cassandra driver should use micrometer metrics
  database/database-cassandra/build.gradle
  database/database-cassandra/src/main/java/ru/tinkoff/kora/database/cassandra/CassandraConfig.java
  database/database-cassandra/src/main/java/ru/tinkoff/kora/database/cassandra/CassandraSessionBuilder.java
  database/database-cassandra/src/test/java/ru/tinkoff/kora/database/cassandra/CassandraDatabaseTest.java
  dependencies.gradle
Labels: bug, module: database

#38 Fix void results for http client methods with code mappers
  http/http-client-annotation-processor/src/main/java/ru/tinkoff/kora/http/client/annotation/processor/ClientClassGenerator.java
  http/http-client-annotation-processor/src/test/java/ru/tinkoff/kora/http/client/annotation/processor/BlockingApiTest.java
  http/http-client-common/src/main/java/ru/tinkoff/kora/http/client/common/response/HttpClientResponseMapperModule.java
Labels: bug, module: http

#35 CacheableAopKoraAspect for Reactive contract fixed and tests reinforced
  cache/cache-annotation-processor/src/main/java/ru/tinkoff/kora/cache/annotation/processor/aop/CacheableAopKoraAspect.java
  cache/cache-annotation-processor/src/test/java/ru/tinkoff/kora/cache/annotation/processor/MonoCacheAopTests.java
  cache/cache-annotation-processor/src/test/java/ru/tinkoff/kora/cache/annotation/processor/testdata/reactive/mono/CacheableMono.java
Labels: bug, lang: java

#39 HTTP Content-Length fixed
  http/http-client-async/src/main/java/ru/tinkoff/kora/http/client/async/response/AsyncHttpClientStreamingResponseBody.java
  http/http-client-jdk/src/main/java/ru/tinkoff/kora/http/client/jdk/JdkHttpClientResponse.java
  http/http-client-ok/src/main/java/ru/tinkoff/kora/http/client/ok/OkHttpRequestBody.java
  http/http-client-ok/src/main/java/ru/tinkoff/kora/http/client/ok/OkHttpResponseBody.java
  http/http-common/src/main/java/ru/tinkoff/kora/http/common/body/HttpBodyOutput.java
  http/http-common/src/main/java/ru/tinkoff/kora/http/common/body/StreamingHttpBodyInput.java
  http/http-common/src/main/java/ru/tinkoff/kora/http/common/body/StreamingHttpBodyOutput.java
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/request/UndertowRequestHttpBody.java
Labels: bug, module: http

#40 OpenApi Kotlin Nullable enum fixed
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinEnumClass.mustache
  openapi/openapi-generator/src/test/java/ru/tinkoff/kora/openapi/generator/KoraCodegenTest.java
  openapi/openapi-generator/src/test/resources/example/petstoreV3_enum.yaml
Labels: bug, lang: kotlin, module: openapi

#41 OpenAPI Kotlin class equals & hashCode fix
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinModel.mustache
Labels: bug, lang: kotlin, module: openapi

#36 GraalVM ReactorContextHook#init() missing in runtime fixed
  common/src/main/java/ru/tinkoff/kora/common/Context.java
  common/src/main/resources/META-INF/native-image/ru.tinkoff.kora.common/native-image.properties
Labels: bug
