Repository kora-projects/kora, pull requests merged in 2024-04, with the labels that each got.

#21 Missing Generated annotations fixed
  README.md
  annotation-processor-common/src/main/java/ru/tinkoff/kora/annotation/processor/common/RecordClassBuilder.java
  config/config-annotation-processor/src/main/java/ru/tinkoff/kora/config/annotation/processor/ConfigParserGenerator.java
  config/config-symbol-processor/src/main/kotlin/ru/tinkoff/kora/config/ksp/ConfigParserGenerator.kt
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/KoraAppProcessor.java
  kora-app-symbol-processor/src/main/kotlin/ru/tinkoff/kora/kora/app/ksp/KoraAppProcessor.kt
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaApiResponses.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaClientAsyncResponseMappers.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaClientRequestMappers.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaClientResponseMappers.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaClientSecuritySchema.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaEnumClass.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaFormParams.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaServerRequestMappers.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaServerResponseMappers.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaServerSecuritySchema.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinClientApi.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinClientAsyncResponseMappers.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinClientRequestMappers.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinClientResponseMappers.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinClientSecuritySchema.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinEnumClass.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinServerApi.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinServerRequestMappers.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinServerResponseMappers.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinServerSecuritySchema.mustache
Labels: minor change

#26 Writing exception to closed Undertow connection should not ignore telemetry
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/UndertowExchangeProcessor.java
Labels: bug, module: http

#25 Resilient minor fixes
  resilient/resilient-annotation-processor/src/main/java/ru/tinkoff/kora/resilient/annotation/processor/aop/CircuitBreakerKoraAspect.java
  resilient/resilient-annotation-processor/src/main/java/ru/tinkoff/kora/resilient/annotation/processor/aop/FallbackKoraAspect.java
  resilient/resilient-annotation-processor/src/main/java/ru/tinkoff/kora/resilient/annotation/processor/aop/TimeoutKoraAspect.java
  resilient/resilient-symbol-processor/src/main/kotlin/ru/tinkoff/kora/resilient/symbol/processor/aop/FallbackKoraAspect.kt
Labels: bug

#4 Dependencies updated and synchronized
  annotation-processor-common/build.gradle
  cache/cache-annotation-processor/build.gradle
  cache/cache-redis/build.gradle
  cache/cache-symbol-processor/build.gradle
  common/build.gradle
  database/database-cassandra/build.gradle
  database/database-r2dbc/build.gradle
  dependencies.gradle
  grpc/grpc-client/src/main/java/ru/tinkoff/grpc/client/GrpcClientChannelFactory.java
  http/http-client-async/build.gradle
  http/http-client-common/build.gradle
  internal/test-logging/build.gradle
  internal/test-redis/build.gradle
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/consumer/containers/ConsumerWrapper.java
  logging/logging-common/build.gradle
  logging/logging-logback/build.gradle
  openapi/openapi-generator/build.gradle
  opentelemetry/opentelemetry-tracing-exporter-grpc/build.gradle
  symbol-processor-common/build.gradle
  vertx-common/build.gradle
Labels: dependency

#30 Component build message improved
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/GraphBuilder.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/KoraAppProcessor.java
Labels: improvement, lang: java

#29 `HttpBody.contentLength` should be long
  build.gradle
  http/http-client-async/src/main/java/ru/tinkoff/kora/http/client/async/response/AsyncHttpClientStreamingResponseBody.java
  http/http-client-common/src/main/java/ru/tinkoff/kora/http/client/common/telemetry/DefaultHttpClientTelemetryCollectingResponseBodyWrapper.java
  http/http-client-common/src/main/java/ru/tinkoff/kora/http/client/common/telemetry/DefaultHttpClientTelemetryResponseBodyWrapper.java
  http/http-client-jdk/src/main/java/ru/tinkoff/kora/http/client/jdk/JdkHttpClientResponse.java
  http/http-client-ok/src/main/java/ru/tinkoff/kora/http/client/ok/OkHttpResponseBody.java
  http/http-common/src/main/java/ru/tinkoff/kora/http/common/body/DefaultFullHttpBody.java
  http/http-common/src/main/java/ru/tinkoff/kora/http/common/body/EmptyHttpBody.java
  http/http-common/src/main/java/ru/tinkoff/kora/http/common/body/HttpBody.java
  http/http-common/src/main/java/ru/tinkoff/kora/http/common/body/HttpBodyOutput.java
  http/http-common/src/main/java/ru/tinkoff/kora/http/common/body/StreamingHttpBodyInput.java
  http/http-common/src/main/java/ru/tinkoff/kora/http/common/body/StreamingHttpBodyOutput.java
  http/http-server-annotation-processor/src/test/java/ru/tinkoff/kora/http/server/annotation/processor/AbstractHttpControllerTest.java
  http/http-server-annotation-processor/src/test/java/ru/tinkoff/kora/http/server/annotation/processor/ControllerParamsTest.java
  http/http-server-annotation-processor/src/test/java/ru/tinkoff/kora/http/server/annotation/processor/HttpServerRequestMapperKoraExtensionTest.java
  http/http-server-annotation-processor/src/test/java/ru/tinkoff/kora/http/server/annotation/processor/server/HttpResponseAssert.java
  http/http-server-common/build.gradle
  http/http-server-common/src/test/java/ru/tinkoff/kora/http/server/common/form/MultipartReaderTest.java
  http/http-server-common/src/testFixtures/java/ru/tinkoff/kora/http/server/common/HttpServerTestKit.java
  http/http-server-symbol-processor/src/test/kotlin/ru/tinkoff/kora/http/server/symbol/processor/server/HttpResponseAssert.kt
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/request/UndertowRequestHttpBody.java
  json/jackson-module/src/main/java/ru/tinkoff/kora/json/jackson/module/http/JacksonHttpBodyOutput.java
  json/json-module/src/main/java/ru/tinkoff/kora/json/module/http/JsonHttpBodyOutput.java
  settings.gradle
Labels: minor change, module: http
