Repository kora-projects/kora, pull requests merged in 2024-07, with the labels that each got.

#79 Nullability detection should work with any `Nullable` annotation
  annotation-processor-common/src/main/java/ru/tinkoff/kora/annotation/processor/common/RecordUtils.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/entity/DbEntity.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/jdbc/JdbcEntityTest.java
Labels: module: database

#76 Dependency cleanup
  build.gradle
  dependencies.gradle
  netty-common/build.gradle
  vertx-common/build.gradle
Labels: dependency

#77 OpenAPI Generator Client error message improved
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaClientAsyncResponseMappers.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaClientResponseMappers.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinClientAsyncResponseMappers.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinClientResponseMappers.mustache
  openapi/openapi-generator/src/test/resources/example/petstoreV3_security_api_key.yaml
Labels: improvement, module: openapi

#75 Cassandra CompletableFuture signature
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/cassandra/CassandraRepositoryGenerator.java
Labels: bug, module: database

#80 Database repository optimization
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/cassandra/CassandraRepositoryGenerator.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/jdbc/JdbcRepositoryGenerator.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/r2dbc/R2dbcRepositoryGenerator.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/vertx/VertxRepositoryGenerator.java
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/cassandra/CassandraRepositoryGenerator.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcRepositoryGenerator.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/r2dbc/R2DbcRepositoryGenerator.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/vertx/VertxRepositoryGenerator.kt
Labels: module: database, optimization

#82 Netty & gRPC fix
  dependencies.gradle
  netty-common/src/main/java/ru/tinkoff/kora/netty/common/NettyCommonModule.java
Labels: bug, dependency, module: grpc

#83 Fix JsonReader/JsonWriter for JSON fields with '$' in name
  json/json-symbol-processor/src/main/kotlin/ru/tinkoff/kora/json/ksp/reader/JsonReaderGenerator.kt
  json/json-symbol-processor/src/main/kotlin/ru/tinkoff/kora/json/ksp/writer/JsonWriterGenerator.kt
  json/json-symbol-processor/src/test/kotlin/ru/tinkoff/kora/json/ksp/SpecialCharsInJsonFieldsTest.kt
Labels: bug, lang: kotlin

#84 `CoroutineContextInjectInterceptor` should not require `kotlinx.coroutines.reactor.ReactorContextKt`
  grpc/grpc-server/src/main/java/ru/tinkoff/kora/grpc/server/interceptors/CoroutineContextInjectInterceptor.java
Labels: bug, lang: kotlin
