Repository kora-projects/kora, pull requests merged in 2024-10, with the labels that each got.

#135 OpenAPI CodegenModel required when non validated fixed
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
Labels: bug, module: openapi

#128 Enabling trace logging on http client should not break async-http-client
  http/http-client-common/src/main/java/ru/tinkoff/kora/http/client/common/telemetry/DefaultHttpClientTelemetry.java
Labels: bug, module: http

#132 Cassandra nullable resultSet mapping fixed
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/cassandra/CassandraRepositoryGenerator.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/cassandra/extension/CassandraTypesExtension.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/cassandra/CassandraResultsTest.kt
Labels: bug, module: database

#131 Expose TypeSpec.Builder for aspects for end user
  aop/aop-annotation-processor/src/main/java/ru/tinkoff/kora/aop/annotation/processor/AopProcessor.java
  aop/aop-annotation-processor/src/main/java/ru/tinkoff/kora/aop/annotation/processor/KoraAspect.java
  aop/aop-symbol-processor/src/main/kotlin/ru/tinkoff/kora/aop/symbol/processor/AopProcessor.kt
  aop/aop-symbol-processor/src/main/kotlin/ru/tinkoff/kora/aop/symbol/processor/KoraAspect.kt
Labels: minor

#137 Nullability checks should check type use annotations
  annotation-processor-common/src/main/java/ru/tinkoff/kora/annotation/processor/common/CommonUtils.java
Labels: bug, module: core

#129 HTTP Server potential primitive fix
  http/http-server-annotation-processor/src/main/java/ru/tinkoff/kora/http/server/annotation/processor/RequestHandlerGenerator.java
Labels: bug, module: http

#127 OpenAPI additional annotations support
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaEnumClass.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaModel.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinEnumClass.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinModel.mustache
  openapi/openapi-generator/src/test/java/ru/tinkoff/kora/openapi/generator/KoraCodegenTest.java
Labels: improvement, module: openapi

#136 Add `@Deprecated` annotation for OpenAPI generated HTTP Client methods
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaClientApi.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinClientApi.mustache
Labels: minor, module: openapi

#138 Date-Time mapping support added
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
Labels: bug, module: openapi

#141 JdbcNativeTypes LocalDate for Kotlin fixed
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcNativeTypes.kt
Labels: bug, lang: kotlin, module: database

#140 Undertow Byte Buffer leak fixed
  dependencies.gradle
  experimental/camunda-rest-undertow/build.gradle
  http/http-server-undertow/build.gradle
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/UndertowContext.java
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/UndertowHttpServerModule.java
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/UndertowModule.java
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/UndertowPrivateHttpServer.java
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/pool/KoraByteBufferPool.java
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/request/Operators.java
  http/http-server-undertow/src/test/java/ru/tinkoff/kora/http/server/undertow/UndertowHttpServerTest.java
Labels: bug, module: http

#142 HTTP Client & Server metrics enriched
  http/http-client-common/src/main/java/ru/tinkoff/kora/http/client/common/interceptor/TelemetryInterceptor.java
  http/http-client-common/src/main/java/ru/tinkoff/kora/http/client/common/request/DefaultHttpClientRequest.java
  http/http-client-common/src/main/java/ru/tinkoff/kora/http/client/common/telemetry/DefaultHttpClientTelemetry.java
  http/http-client-common/src/main/java/ru/tinkoff/kora/http/client/common/telemetry/HttpClientLogger.java
  http/http-client-common/src/main/java/ru/tinkoff/kora/http/client/common/telemetry/HttpClientMetrics.java
  http/http-client-common/src/main/java/ru/tinkoff/kora/http/client/common/telemetry/HttpClientTracer.java
  http/http-client-common/src/main/java/ru/tinkoff/kora/http/client/common/telemetry/Sl4fjHttpClientLogger.java
  http/http-client-common/src/test/java/ru/tinkoff/kora/http/client/common/telemetry/DefaultHttpClientTelemetryTest.java
  http/http-client-common/src/test/java/ru/tinkoff/kora/http/client/common/telemetry/Sl4fjHttpClientLoggerTests.java
  http/http-client-common/src/testFixtures/java/ru/tinkoff/kora/http/client/common/HttpClientTest.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/router/PublicApiResponseImpl.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/telemetry/DefaultHttpServerTelemetry.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/telemetry/HttpServerLogger.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/telemetry/HttpServerMetrics.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/telemetry/HttpServerTelemetry.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/telemetry/Slf4jHttpServerLogger.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/telemetry/Slf4jHttpServerLoggerFactory.java
  http/http-server-common/src/test/java/ru/tinkoff/kora/http/server/common/telemetry/Slf4jHttpServerLoggerTests.java
  http/http-server-common/src/testFixtures/java/ru/tinkoff/kora/http/server/common/HttpServerTestKit.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/http/client/Opentelemetry120HttpClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/http/client/Opentelemetry123HttpClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/http/server/Opentelemetry120HttpServerMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/http/server/Opentelemetry123HttpServerMetrics.java
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/http/client/OpentelemetryHttpClientTracer.java
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/http/server/OpentelemetryHttpServerTracer.java
  resilient/resilient-annotation-processor/build.gradle
  validation/validation-annotation-processor/build.gradle
Labels: improvement, module: http

#151 HttpClientRequestMapper String as plain text
  http/http-client-common/src/main/java/ru/tinkoff/kora/http/client/common/request/HttpClientRequestMapperModule.java
Labels: bug, module: http

#152 OpenAPI Note added
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaApiResponses.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaAsyncServerApi.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaAsyncServerApiDelegate.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaClientApi.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaClientAsyncResponseMappers.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaClientRequestMappers.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaClientResponseMappers.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaClientSecuritySchema.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaModel.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaServerApi.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaServerApiDelegate.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaServerRequestMappers.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaServerResponseMappers.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaServerSecuritySchema.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinApiResponses.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinClientApi.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinClientAsyncResponseMappers.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinClientRequestMappers.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinClientResponseMappers.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinClientSecuritySchema.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinModel.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinServerApi.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinServerApiDelegate.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinServerRequestMappers.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinServerResponseMappers.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinServerSecuritySchema.mustache
Labels: module: openapi, javadoc

#143 OpenAPI additional contract annotations
  maven-parent/build.gradle
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaAsyncServerApi.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaClientApi.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaServerApi.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinClientApi.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinServerApi.mustache
Labels: new feature, module: openapi

#157 Enum config value as toString
  config/config-common/src/main/java/ru/tinkoff/kora/config/common/extractor/EnumConfigValueExtractor.java
Labels: minor

#156 JsonReader Set & Map as Linked
  json/json-common/src/main/java/ru/tinkoff/kora/json/common/ListJsonReader.java
  json/json-common/src/main/java/ru/tinkoff/kora/json/common/MapJsonReader.java
  json/json-common/src/main/java/ru/tinkoff/kora/json/common/SetJsonReader.java
Labels: improvement, minor, module: json

#160 gRPC metrics leak fixed
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/grpc/client/Opentelemetry120GrpcClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/grpc/client/Opentelemetry123GrpcClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/grpc/server/MicrometerGrpcServerMetricsFactory.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/grpc/server/Opentelemetry120GrpcServerMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/grpc/server/Opentelemetry123GrpcServerMetrics.java
Labels: bug, module: grpc

#154 Retry support zero attempts
  resilient/resilient-kora/src/main/java/ru/tinkoff/kora/resilient/retry/KoraRetry.java
  resilient/resilient-kora/src/main/java/ru/tinkoff/kora/resilient/retry/KoraRetryReactorBuilder.java
  resilient/resilient-kora/src/main/java/ru/tinkoff/kora/resilient/retry/RetryConfig.java
  resilient/resilient-symbol-processor/src/main/kotlin/ru/tinkoff/kora/resilient/symbol/processor/aop/RetryKoraAspect.kt
Labels: improvement

#155 Resilient Retry & Timeout virtual thread support
  application-graph/src/main/java/ru/tinkoff/kora/application/graph/internal/GraphImpl.java
  application-graph/src/main/java/ru/tinkoff/kora/application/graph/internal/loom/VirtualThreadExecutorHolder.java
  resilient/resilient-kora/src/main/java/ru/tinkoff/kora/resilient/retry/KoraRetry.java
  resilient/resilient-kora/src/main/java/ru/tinkoff/kora/resilient/timeout/KoraTimeout.java
  resilient/resilient-kora/src/main/java/ru/tinkoff/kora/resilient/timeout/TimeoutExecutor.java
  resilient/resilient-kora/src/main/java/ru/tinkoff/kora/resilient/timeout/TimeoutModule.java
Labels: improvement

#158 GraphBuilder intersected generics support
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/ComponentTemplateHelper.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/GraphBuilder.java
  kora-app-annotation-processor/src/test/java/ru/tinkoff/kora/kora/app/annotation/processor/KoraAppProcessorTest.java
  kora-app-annotation-processor/src/test/java/ru/tinkoff/kora/kora/app/annotation/processor/app/AppWithFactories13.java
  kora-app-symbol-processor/src/test/kotlin/ru/tinkoff/kora/kora/app/ksp/KoraAppKspTest.kt
  kora-app-symbol-processor/src/test/kotlin/ru/tinkoff/kora/kora/app/ksp/app/AppWithFactories13.kt
Labels: improvement, module: core

#149 Separate annotation processor to generate JDBC result set mappers
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/jdbc/JdbcEntityAnnotationProcessor.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/jdbc/JdbcEntityGenerator.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/jdbc/JdbcTypes.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/jdbc/extension/JdbcTypesExtension.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/jdbc/extension/JdbcTypesExtensionFactory.java
  database/database-annotation-processor/src/main/resources/META-INF/gradle/incremental.annotation.processors
  database/database-annotation-processor/src/main/resources/META-INF/services/javax.annotation.processing.Processor
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/AbstractExtensionTest.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/jdbc/AbstractJdbcEntityTest.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/jdbc/JdbcEntity.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/jdbc/JdbcEntityTest.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/jdbc/entity/JdbcEntityAnnotationProcessorTest.java
  database/database-jdbc/src/main/java/ru/tinkoff/kora/database/jdbc/EntityJdbc.java
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcEntityGenerator.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcEntitySymbolProcessor.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcEntitySymbolProcessorProvider.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcTypes.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/extension/JdbcTypesExtension.kt
  database/database-symbol-processor/src/main/resources/META-INF/services/com.google.devtools.ksp.processing.SymbolProcessorProvider
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcExtensionTest.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcExtensionTests.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/entity/JdbcEntitySymbolProcessorTest.kt
  symbol-processor-common/src/main/kotlin/ru/tinkoff/kora/ksp/common/KspCommonUtils.kt
Labels: improvement, module: database, optimization

#168 HTTP client logging enabled fixed
  http/http-client-common/src/main/java/ru/tinkoff/kora/http/client/common/telemetry/Sl4fjHttpClientLoggerFactory.java
Labels: bug, minor, module: http

#166 Jdbc Kotlin ResultSet.next() check fixed
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/jdbc/JdbcRepositoryGenerator.java
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcEntityGenerator.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcRepositoryGenerator.kt
Labels: bug, lang: kotlin, module: database

#161 `@KoraApp` generate `@SubModule` if enabled
  annotation-processor-common/src/testFixtures/java/ru/tinkoff/kora/annotation/processor/common/TestUtils.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/KoraAppProcessor.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/KoraAppUtils.java
  kora-app-annotation-processor/src/test/java/ru/tinkoff/kora/kora/app/annotation/processor/KoraAppProcessorTest.java
  kora-app-annotation-processor/src/test/java/ru/tinkoff/kora/kora/app/annotation/processor/app/AppWithAppPartAppWithSubmodule.java
  kora-app-symbol-processor/src/main/kotlin/ru/tinkoff/kora/kora/app/ksp/KoraAppProcessor.kt
  kora-app-symbol-processor/src/test/kotlin/ru/tinkoff/kora/kora/app/ksp/KoraAppKspTest.kt
  symbol-processor-common/src/testFixtures/kotlin/ru/tinkoff/kora/ksp/common/AbstractSymbolProcessorTest.kt
  symbol-processor-common/src/testFixtures/kotlin/ru/tinkoff/kora/ksp/common/TestUtils.kt
  validation/validation-symbol-processor/src/main/kotlin/ru/tinkoff/kora/validation/symbol/processor/ValidSymbolProcessor.kt
Labels: improvement, module: core

#165 HTTP models toString added
  http/http-client-async/src/main/java/ru/tinkoff/kora/http/client/async/response/EmptyAsyncHttpClientResponse.java
  http/http-client-async/src/main/java/ru/tinkoff/kora/http/client/async/response/SingleBufferAsyncHttpClientResponse.java
  http/http-client-async/src/main/java/ru/tinkoff/kora/http/client/async/response/StreamingAsyncHttpClientResponse.java
  http/http-client-common/src/main/java/ru/tinkoff/kora/http/client/common/request/DefaultHttpClientRequest.java
  http/http-client-common/src/main/java/ru/tinkoff/kora/http/client/common/response/HttpClientResponse.java
  http/http-client-common/src/main/java/ru/tinkoff/kora/http/client/common/telemetry/DefaultHttpClientTelemetryResponseWrapper.java
  http/http-client-jdk/src/main/java/ru/tinkoff/kora/http/client/jdk/JdkHttpClientResponse.java
  http/http-client-ok/src/main/java/ru/tinkoff/kora/http/client/ok/OkHttpResponse.java
  http/http-common/src/main/java/ru/tinkoff/kora/http/common/HttpResponseEntityImpl.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/HttpServerResponseException.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/SimpleHttpServerResponse.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/router/LazyRequest.java
Labels: minor, module: http

#164 JDBC minor optimization
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/jdbc/JdbcRepositoryGenerator.java
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcRepositoryGenerator.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcParametersTest.kt
Labels: module: database, optimization
