Repository kora-projects/kora, pull requests merged in 2024-08, with the labels that each got.

#81 Added Tag propagation for Repository codegen
  annotation-processor-common/src/main/java/ru/tinkoff/kora/annotation/processor/common/TagUtils.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/RepositoryBuilder.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/extension/RepositoryKoraExtension.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/ExtensionTest.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/TagPropagationTest.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/app/TestKoraAppExecutorTagged.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/app/TestKoraAppRepoTagged.java
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/RepositoryBuilder.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/extension/RepositoryKoraExtension.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/ExtensionTest.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/RepositoryTagPropagationTest.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcExtensionTests.kt
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/component/DependencyClaim.java
  kora-app-symbol-processor/src/main/kotlin/ru/tinkoff/kora/kora/app/ksp/component/DependencyClaim.kt
  kora-app-symbol-processor/src/main/kotlin/ru/tinkoff/kora/kora/app/ksp/declaration/ComponentDeclaration.kt
  symbol-processor-common/src/main/kotlin/ru/tinkoff/kora/ksp/common/TagUtils.kt
Labels: module: database

#93 Prometheus JMX removed
  dependencies.gradle
  micrometer/micrometer-module/build.gradle
Labels: dependency

#92 Method argument Pattern validation fixed
  openapi/openapi-generator/src/test/resources/example/petstoreV3_validation.yaml
  validation/validation-annotation-processor/src/test/java/ru/tinkoff/kora/validation/annotation/processor/ValidateRunner.java
  validation/validation-annotation-processor/src/test/java/ru/tinkoff/kora/validation/annotation/processor/testdata/ValidateFlux.java
  validation/validation-annotation-processor/src/test/java/ru/tinkoff/kora/validation/annotation/processor/testdata/ValidateFuture.java
  validation/validation-annotation-processor/src/test/java/ru/tinkoff/kora/validation/annotation/processor/testdata/ValidateMono.java
  validation/validation-annotation-processor/src/test/java/ru/tinkoff/kora/validation/annotation/processor/testdata/ValidateSync.java
  validation/validation-symbol-processor/src/main/kotlin/ru/tinkoff/kora/validation/symbol/processor/aop/ValidateMethodKoraAspect.kt
  validation/validation-symbol-processor/src/test/kotlin/ru/tinkoff/kora/validation/symbol/processor/ValidateRunner.kt
  validation/validation-symbol-processor/src/test/kotlin/ru/tinkoff/kora/validation/symbol/processor/testdata/ValidateFlow.kt
  validation/validation-symbol-processor/src/test/kotlin/ru/tinkoff/kora/validation/symbol/processor/testdata/ValidateSuspend.kt
  validation/validation-symbol-processor/src/test/kotlin/ru/tinkoff/kora/validation/symbol/processor/testdata/ValidateSync.kt
Labels: bug, lang: kotlin

#91 Content-Type for Entity response preserved
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/handler/HttpServerResponseEntityMapper.java
Labels: bug, module: http

#95 Allow configuration of okhttp instance
  http/http-client-ok/src/main/java/ru/tinkoff/kora/http/client/ok/OkHttpClientModule.java
  http/http-client-ok/src/main/java/ru/tinkoff/kora/http/client/ok/OkHttpClientWrapper.java
  http/http-client-ok/src/main/java/ru/tinkoff/kora/http/client/ok/OkHttpConfigurer.java
Labels: minor, module: http

#100 Add liquibase module
  database/database-liquibase/build.gradle
  database/database-liquibase/src/main/java/ru/tinkoff/kora/database/liquibase/LiquibaseConfig.java
  database/database-liquibase/src/main/java/ru/tinkoff/kora/database/liquibase/LiquibaseJdbcDatabaseInterceptor.java
  database/database-liquibase/src/main/java/ru/tinkoff/kora/database/liquibase/LiquibaseJdbcDatabaseModule.java
  database/database-liquibase/src/test/java/ru.tinkoff.kora.database.liquibase/LiquibaseJdbcDatabaseInterceptorTest.java
  database/database-liquibase/src/test/resources/db/changelog/db.changelog-master.xml
  dependencies.gradle
  settings.gradle
Labels: module: database, new module

#99 FlywayConfig added
  database/database-flyway/build.gradle
  database/database-flyway/src/main/java/ru/tinkoff/kora/database/flyway/FlywayConfig.java
  database/database-flyway/src/main/java/ru/tinkoff/kora/database/flyway/FlywayJdbcDatabaseInterceptor.java
  database/database-flyway/src/main/java/ru/tinkoff/kora/database/flyway/FlywayJdbcDatabaseModule.java
  database/database-flyway/src/test/java/ru/tinkoff/kora/database/flyway/FlywayJdbcDatabaseInterceptorTest.java
Labels: improvement

#96 Http client telemetry should log body that wasn't read till the end
  http/http-client-common/src/main/java/ru/tinkoff/kora/http/client/common/telemetry/DefaultHttpClientTelemetryCollectingResponseBodyWrapper.java
Labels: bug, module: http

#97 gRPC interceptor execution order
  grpc/grpc-client/src/main/java/ru/tinkoff/grpc/client/ManagedChannelLifecycle.java
  grpc/grpc-server/src/main/java/ru/tinkoff/kora/grpc/server/GrpcServerModule.java
Labels: bug, module: grpc

#103 Size type added
  common/src/main/java/ru/tinkoff/kora/common/util/Size.java
  common/src/test/java/ru/tinkoff/kora/common/naming/SizeTests.java
  config/config-common/src/main/java/ru/tinkoff/kora/config/common/DefaultConfigExtractorsModule.java
  config/config-common/src/main/java/ru/tinkoff/kora/config/common/extractor/SizeConfigValueExtractor.java
Labels: minor

#102 gRPC server message size
  grpc/grpc-server/src/main/java/ru/tinkoff/kora/grpc/server/GrpcServerModule.java
  grpc/grpc-server/src/main/java/ru/tinkoff/kora/grpc/server/config/GrpcServerConfig.java
Labels: improvement, module: grpc

#105 KafkaAssignConsumerContainer offset duration fixed
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/consumer/containers/KafkaAssignConsumerContainer.java
Labels: bug, module: kafka

#106 JUnit MDC clear
  test/test-junit5/src/main/java/ru/tinkoff/kora/test/extension/junit5/KoraJUnit5Extension.java
  test/test-junit5/src/main/java/ru/tinkoff/kora/test/extension/junit5/TestGraph.java
Labels: improvement

#108 Openapi codegen should not mix referenced oneOf fields in root type
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
Labels: module: openapi

#107 Macros fail on native types
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/QueryMacrosParser.java
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/QueryMacrosParser.kt
Labels: module: database
