Repository kora-projects/kora, pull requests merged in 2024-06, with the labels that each got.

#43 `@Retry` CompletableFuture fixed
  resilient/resilient-annotation-processor/src/main/java/ru/tinkoff/kora/resilient/annotation/processor/aop/RetryKoraAspect.java
  resilient/resilient-annotation-processor/src/test/java/ru/tinkoff/kora/resilient/annotation/processor/aop/CircuitBreakerFutureTests.java
  resilient/resilient-annotation-processor/src/test/java/ru/tinkoff/kora/resilient/annotation/processor/aop/FallbackFutureTests.java
  resilient/resilient-annotation-processor/src/test/java/ru/tinkoff/kora/resilient/annotation/processor/aop/RetryFutureTests.java
  resilient/resilient-annotation-processor/src/test/java/ru/tinkoff/kora/resilient/annotation/processor/aop/TimeoutFutureTests.java
  resilient/resilient-annotation-processor/src/test/java/ru/tinkoff/kora/resilient/annotation/processor/aop/testdata/CircuitBreakerTarget.java
  resilient/resilient-annotation-processor/src/test/java/ru/tinkoff/kora/resilient/annotation/processor/aop/testdata/FallbackTarget.java
  resilient/resilient-annotation-processor/src/test/java/ru/tinkoff/kora/resilient/annotation/processor/aop/testdata/RetryTarget.java
  resilient/resilient-annotation-processor/src/test/java/ru/tinkoff/kora/resilient/annotation/processor/aop/testdata/TimeoutTarget.java
Labels: bug, lang: java

#46 Cache AOP error handling improved
  cache/cache-annotation-processor/src/main/java/ru/tinkoff/kora/cache/annotation/processor/CacheOperationUtils.java
  cache/cache-symbol-processor/src/main/kotlin/ru/tinkoff/kora/cache/symbol/processor/CacheOperationUtils.kt
Labels: optimization

#47 OpenAPI generator primaryAuth fixed
  http/http-client-common/src/main/java/ru/tinkoff/kora/http/client/common/interceptor/BasicAuthHttpClientInterceptor.java
  http/http-client-common/src/main/java/ru/tinkoff/kora/http/client/common/interceptor/BearerAuthHttpClientInterceptor.java
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaClientSecuritySchema.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinClientSecuritySchema.mustache
Labels: bug, module: openapi

#45 Logging detalization
  http/http-client-common/src/main/java/ru/tinkoff/kora/http/client/common/telemetry/DefaultHttpClientTelemetry.java
  http/http-client-common/src/main/java/ru/tinkoff/kora/http/client/common/telemetry/Sl4fjHttpClientLogger.java
  http/http-client-common/src/test/java/ru/tinkoff/kora/http/client/common/telemetry/DefaultHttpClientTelemetryTest.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/telemetry/Slf4jHttpServerLogger.java
  logging/declarative-logging/declarative-logging-annotation-processor/src/main/java/ru/tinkoff/kora/logging/aspect/LogAspect.java
  logging/logging-logback/src/main/java/ru/tinkoff/kora/logging/logback/ConsoleTextRecordEncoder.java
Labels: optimization

#49 Http client telemetry should pass content length to underlying client
  http/http-client-async/src/main/java/ru/tinkoff/kora/http/client/async/MonoSinkStreamAsyncHandler.java
  http/http-client-common/src/main/java/ru/tinkoff/kora/http/client/common/telemetry/DefaultHttpClientTelemetry.java
Labels: bug, module: http

#50 KoraJUnit5Extension `Wrapped` support fixed
  test/test-junit5/src/main/java/ru/tinkoff/kora/test/extension/junit5/GraphReplacementNoDeps.java
  test/test-junit5/src/main/java/ru/tinkoff/kora/test/extension/junit5/GraphReplacementWithDeps.java
  test/test-junit5/src/main/java/ru/tinkoff/kora/test/extension/junit5/GraphUtils.java
  test/test-junit5/src/main/java/ru/tinkoff/kora/test/extension/junit5/KoraGraphModification.java
  test/test-junit5/src/main/java/ru/tinkoff/kora/test/extension/junit5/KoraJUnit5Extension.java
  test/test-junit5/src/main/java/ru/tinkoff/kora/test/extension/junit5/TestGraph.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/inject/InjectFieldsTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/inject/InjectMethodArgumentsTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/inject/InjectWrapperTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/mockito/MockGraphModificationMockTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/testdata/TestApplication.java
Labels: bug

#56 Undertow Xnio Executor Tagged
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/UndertowHttpServerModule.java
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/UndertowModule.java
Labels: module: http, optimization

#52 OpenAPI type format fixed
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
  openapi/openapi-generator/src/test/java/ru/tinkoff/kora/openapi/generator/KoraCodegenTest.java
  openapi/openapi-generator/src/test/resources/example/petstoreV3_types.yaml
Labels: bug, module: openapi

#57 Dependencies with fixes
  dependencies.gradle
Labels: dependency

#55 JDBC async signature fixes
  annotation-processor-common/src/main/java/ru/tinkoff/kora/annotation/processor/common/TagUtils.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/cassandra/CassandraRepositoryGenerator.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/jdbc/JdbcRepositoryGenerator.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/jdbc/JdbcTypes.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/jdbc/AbstractJdbcRepositoryTest.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/jdbc/JdbcMacrosTest.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/jdbc/JdbcResultsTest.java
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcRepositoryGenerator.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcTypes.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcSuspendResultsTest.kt
  symbol-processor-common/src/main/kotlin/ru/tinkoff/kora/ksp/common/TagUtils.kt
Labels: bug, module: database

#54 OpenAPI Server Cookie auth
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaServerSecuritySchema.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinServerSecuritySchema.mustache
Labels: minor change, module: openapi

#59 ScheduleWithCron javadoc
  scheduling/scheduling-quartz/src/main/java/ru/tinkoff/kora/scheduling/quartz/ScheduleWithCron.java
Labels: javadoc

#61 ByteBufferPool factory for private module
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/UndertowHttpServerModule.java
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/UndertowModule.java
Labels: bug, module: http

#62 Require NonNull for future fixed
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/jdbc/JdbcRepositoryGenerator.java
Labels: bug, module: database

#64 PrivateApiHandler error handling
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/PrivateApiHandler.java
Labels: bug, module: http

#65 Gradle warning removed
  annotation-processor-common/src/main/java/ru/tinkoff/kora/annotation/processor/common/AbstractKoraProcessor.java
Labels: optimization

#68 OpenAPI Name collision
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaClientSecuritySchema.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaServerSecuritySchema.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinClientSecuritySchema.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinServerSecuritySchema.mustache
Labels: bug, lang: kotlin, module: openapi

#66 Templated components should work with `@Component` too
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/KoraAppProcessor.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/component/ComponentDependencyHelper.java
  kora-app-annotation-processor/src/test/java/ru/tinkoff/kora/kora/app/annotation/processor/ComponentTemplatesTest.java
  kora-app-symbol-processor/src/main/kotlin/ru/tinkoff/kora/kora/app/ksp/component/ComponentDependencyHelper.kt
  kora-app-symbol-processor/src/main/kotlin/ru/tinkoff/kora/kora/app/ksp/declaration/ComponentDeclaration.kt
  kora-app-symbol-processor/src/test/kotlin/ru/tinkoff/kora/kora/app/ksp/ComponentTemplatesTest.kt
Labels: bug

#69 Allow disabling of config watcher
  config/config-common/src/main/java/ru/tinkoff/kora/config/common/ConfigWatcher.java
Labels: improvement

#71 Async HTTP Client Netty dependency cleanup
  http/http-client-async/build.gradle
Labels: bug, module: http

#67 Database record constructor nullable check
  annotation-processor-common/src/testFixtures/java/ru/tinkoff/kora/annotation/processor/common/AbstractAnnotationProcessorTest.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/entity/DbEntity.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/jdbc/AbstractJdbcEntityTest.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/jdbc/JdbcEmbeddedEntityTest.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/jdbc/JdbcEntityTest.java
Labels: bug, lang: java, module: database

#70 Database tracing fixed
  annotation-processor-common/src/main/java/ru/tinkoff/kora/annotation/processor/common/CommonClassNames.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/cassandra/CassandraRepositoryGenerator.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/jdbc/JdbcRepositoryGenerator.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/r2dbc/R2dbcRepositoryGenerator.java
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/cassandra/CassandraRepositoryGenerator.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcRepositoryGenerator.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/r2dbc/R2DbcRepositoryGenerator.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/vertx/VertxRepositoryGenerator.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcResultsTest.kt
  database/database-vertx/src/main/java/ru/tinkoff/kora/database/vertx/VertxRepositoryHelper.java
  symbol-processor-common/src/main/kotlin/ru/tinkoff/kora/ksp/common/CommonClassNames.kt
Labels: bug, module: database

#72 Netty transport selection
  database/database-vertx/src/main/java/ru/tinkoff/kora/database/vertx/VertxDatabase.java
  database/database-vertx/src/main/java/ru/tinkoff/kora/database/vertx/VertxDatabaseModule.java
  database/database-vertx/src/test/java/ru/tinkoff/kora/database/vertx/VertxConnectionFactoryTest.java
  grpc/grpc-client-annotation-processor/src/test/java/ru/tinkoff/grpc/client/annotation/processor/GrpcClientExtensionTest.java
  grpc/grpc-client-symbol-processor/src/test/kotlin/ru/tinkoff/grpc/client/ksp/GrpcClientExtensionTest.kt
  grpc/grpc-client/src/main/java/ru/tinkoff/grpc/client/GrpcClientModule.java
  grpc/grpc-client/src/main/java/ru/tinkoff/grpc/client/GrpcNettyClientChannelFactory.java
  grpc/grpc-server/src/main/java/ru/tinkoff/kora/grpc/server/GrpcServerModule.java
  http/http-client-async/src/main/java/ru/tinkoff/kora/http/client/async/AsyncHttpClientModule.java
  netty-common/build.gradle
  netty-common/src/main/java/ru/tinkoff/kora/netty/common/NettyChannelFactory.java
  netty-common/src/main/java/ru/tinkoff/kora/netty/common/NettyCommonModule.java
  netty-common/src/main/java/ru/tinkoff/kora/netty/common/NettyTransportConfig.java
  vertx-common/src/main/java/ru/tinkoff/kora/vertx/common/VertxEventLoopGroupTransport.java
  vertx-common/src/main/java/ru/tinkoff/kora/vertx/common/VertxUtil.java
Labels: improvement
