Repository kora-projects/kora, pull requests merged in 2024-03, with the labels that each got.

#9 OpenAPI Non Json content type mapper fixed
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
  openapi/openapi-generator/src/test/resources/example/petstoreV3_discriminator.yaml
  openapi/openapi-generator/src/test/resources/example/petstoreV3_request_parameters.yaml
Labels: bug, module: openapi

#10 OpenAPI Java Async & Reactive mode fixed
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaAsyncServerApi.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaAsyncServerApiDelegate.mustache
Labels: bug, module: openapi

#2 Annotation processors logging improved
  annotation-processor-common/src/main/java/ru/tinkoff/kora/annotation/processor/common/BuildEnvironment.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/KoraAppProcessor.java
  kora-app-symbol-processor/src/main/kotlin/ru/tinkoff/kora/kora/app/ksp/KoraAppProcessor.kt
Labels: improvement

#3 Cache Redis AOP fixes
  cache/cache-annotation-processor/src/main/java/ru/tinkoff/kora/cache/annotation/processor/aop/CacheInvalidateAopKoraAspect.java
Labels: bug, lang: java

#7 Undertow exchange already complete fixed
  http/http-common/src/main/java/ru/tinkoff/kora/http/common/header/HttpHeaders.java
  http/http-common/src/main/java/ru/tinkoff/kora/http/common/header/HttpHeadersEmpty.java
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/UndertowExchangeProcessor.java
Labels: bug, module: http

#6 @Nested tests supported
  dependencies.gradle
  test/test-junit5/build.gradle
  test/test-junit5/src/main/java/ru/tinkoff/kora/test/extension/junit5/KoraJUnit5Extension.java
  test/test-junit5/src/main/java/ru/tinkoff/kora/test/extension/junit5/TestGraph.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/initializemode/AbstractPerClassTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/initializemode/AbstractPerMethodTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/initializemode/FieldPerClassTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/initializemode/FieldPerMethodTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/initializemode/MethodPerClassTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/initializemode/MethodPerMethodTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/initializemode/NestedFieldPerClassTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/initializemode/NestedFieldPerMethodTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/initializemode/PerClassTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/initializemode/PerMethodTests.java
  test/test-junit5/src/test/kotlin/ru/tinkoff/kora/test/extension/junit5/initializemodek/AbstractPerClassTests.kt
  test/test-junit5/src/test/kotlin/ru/tinkoff/kora/test/extension/junit5/initializemodek/AbstractPerMethodTests.kt
  test/test-junit5/src/test/kotlin/ru/tinkoff/kora/test/extension/junit5/initializemodek/ConstructorPerClassTests.kt
  test/test-junit5/src/test/kotlin/ru/tinkoff/kora/test/extension/junit5/initializemodek/ConstructorPerMethodTests.kt
  test/test-junit5/src/test/kotlin/ru/tinkoff/kora/test/extension/junit5/initializemodek/FieldPerClassTests.kt
  test/test-junit5/src/test/kotlin/ru/tinkoff/kora/test/extension/junit5/initializemodek/FieldPerMethodTests.kt
  test/test-junit5/src/test/kotlin/ru/tinkoff/kora/test/extension/junit5/initializemodek/MethodPerClassTests.kt
  test/test-junit5/src/test/kotlin/ru/tinkoff/kora/test/extension/junit5/initializemodek/MethodPerMethodTests.kt
  test/test-junit5/src/test/kotlin/ru/tinkoff/kora/test/extension/junit5/initializemodek/NestedFieldPerClassTests.kt
  test/test-junit5/src/test/kotlin/ru/tinkoff/kora/test/extension/junit5/initializemodek/NestedFieldPerMethodTests.kt
Labels: improvement, module: test

#11 Cache AOP CompletionStage<Optional<T>> support
  cache/cache-annotation-processor/src/main/java/ru/tinkoff/kora/cache/annotation/processor/aop/CacheInvalidateAopKoraAspect.java
  cache/cache-annotation-processor/src/main/java/ru/tinkoff/kora/cache/annotation/processor/aop/CachePutAopKoraAspect.java
  cache/cache-annotation-processor/src/main/java/ru/tinkoff/kora/cache/annotation/processor/aop/CacheableAopKoraAspect.java
  cache/cache-annotation-processor/src/test/java/ru/tinkoff/kora/cache/annotation/processor/AsyncCacheManyOptionalAopTests.java
  cache/cache-annotation-processor/src/test/java/ru/tinkoff/kora/cache/annotation/processor/AsyncCacheOptionalAopTests.java
  cache/cache-annotation-processor/src/test/java/ru/tinkoff/kora/cache/annotation/processor/MonoCacheManyOptionalAopTests.java
  cache/cache-annotation-processor/src/test/java/ru/tinkoff/kora/cache/annotation/processor/MonoCacheOptionalAopTests.java
  cache/cache-annotation-processor/src/test/java/ru/tinkoff/kora/cache/annotation/processor/testdata/async/CacheableAsyncManyOptional.java
  cache/cache-annotation-processor/src/test/java/ru/tinkoff/kora/cache/annotation/processor/testdata/async/CacheableAsyncOptional.java
  cache/cache-annotation-processor/src/test/java/ru/tinkoff/kora/cache/annotation/processor/testdata/reactive/mono/CacheableMonoManyOptional.java
  cache/cache-annotation-processor/src/test/java/ru/tinkoff/kora/cache/annotation/processor/testdata/reactive/mono/CacheableMonoOptional.java
Labels: bug

#12 Java Annotation Processor Logging improved
  annotation-processor-common/src/main/java/ru/tinkoff/kora/annotation/processor/common/LogUtils.java
  aop/aop-annotation-processor/src/main/java/ru/tinkoff/kora/aop/annotation/processor/AopAnnotationProcessor.java
  aop/aop-annotation-processor/src/main/java/ru/tinkoff/kora/aop/annotation/processor/AopProcessor.java
  config/config-annotation-processor/src/main/java/ru/tinkoff/kora/config/annotation/processor/ConfigParserGenerator.java
  config/config-annotation-processor/src/main/java/ru/tinkoff/kora/config/annotation/processor/processor/ConfigParserAnnotationProcessor.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/RepositoryAnnotationProcessor.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/RepositoryBuilder.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/jdbc/extension/JdbcTypesExtension.java
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/RepositoryBuilder.kt
  json/json-annotation-processor/src/main/java/ru/tinkoff/kora/json/annotation/processor/JsonAnnotationProcessor.java
  json/json-annotation-processor/src/main/java/ru/tinkoff/kora/json/annotation/processor/JsonProcessor.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/KoraAppProcessor.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/KoraAppUtils.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/extension/Extensions.java
  kora-app-symbol-processor/src/main/kotlin/ru/tinkoff/kora/kora/app/ksp/KoraAppProcessor.kt
Labels: improvement

#14 Add error tag to database metrics + cassandra driver metrics
  database/database-cassandra/src/main/java/ru/tinkoff/kora/database/cassandra/CassandraDatabase.java
  database/database-cassandra/src/main/java/ru/tinkoff/kora/database/cassandra/CassandraSessionBuilder.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/db/MicrometerDataBaseMetricWriter.java
Labels: improvement, module: database

#17 OpenAPI Generation Java 21 support
  cache/cache-annotation-processor/src/main/java/ru/tinkoff/kora/cache/annotation/processor/aop/CacheInvalidateAopKoraAspect.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/cassandra/extension/CassandraTypesExtension.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/entity/DbEntity.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/jdbc/JdbcRepositoryGenerator.java
  http/http-server-annotation-processor/src/main/java/ru/tinkoff/kora/http/server/annotation/processor/RequestHandlerGenerator.java
  json/json-annotation-processor/src/main/java/ru/tinkoff/kora/json/annotation/processor/writer/JsonWriterGenerator.java
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaClientResponseMappers.mustache
  resilient/resilient-annotation-processor/src/main/java/ru/tinkoff/kora/resilient/annotation/processor/aop/CircuitBreakerKoraAspect.java
  resilient/resilient-annotation-processor/src/main/java/ru/tinkoff/kora/resilient/annotation/processor/aop/FallbackKoraAspect.java
  resilient/resilient-annotation-processor/src/main/java/ru/tinkoff/kora/resilient/annotation/processor/aop/RetryKoraAspect.java
  validation/validation-annotation-processor/src/main/java/ru/tinkoff/kora/validation/annotation/processor/ValidatorGenerator.java
Labels: bug, lang: java

#15 Logging AOP improved
  .github/ISSUE_TEMPLATE/bug_report.md
  logging/declarative-logging/declarative-logging-annotation-processor/src/main/java/ru/tinkoff/kora/logging/aspect/LogAspect.java
Labels: optimization

#16 Resilient Retry AOP for CompletableStage improved
  resilient/resilient-annotation-processor/src/main/java/ru/tinkoff/kora/resilient/annotation/processor/aop/RetryKoraAspect.java
  resilient/resilient-annotation-processor/src/test/java/ru/tinkoff/kora/resilient/annotation/processor/aop/RetryFutureTests.java
  resilient/resilient-kora/src/main/java/ru/tinkoff/kora/resilient/retry/KoraRetry.java
  resilient/resilient-kora/src/main/java/ru/tinkoff/kora/resilient/retry/Retry.java
Labels: improvement, optimization

#19 Fix http client telemetry to work correctly on single packet responses read as input stream
  http/http-client-common/src/main/java/ru/tinkoff/kora/http/client/common/telemetry/DefaultHttpClientTelemetryResponseBodyWrapper.java
Labels: bug, module: http
