Repository kora-projects/kora, pull requests merged in 2024-11, with the labels that each got.

#163 Metrics missing tags fixed
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/cache/MicrometerCacheMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/camunda/engine/bpmn/Micrometer120CamundaEngineBpmnMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/camunda/engine/bpmn/Micrometer123CamundaEngineBpmnMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/camunda/rest/Micrometer123CamundaRestMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/db/Opentelemetry120DataBaseMetricWriter.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/db/Opentelemetry123DataBaseMetricWriter.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/grpc/client/Opentelemetry120GrpcClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/grpc/client/Opentelemetry123GrpcClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/grpc/server/MicrometerGrpcServerMetricsFactory.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/http/client/Opentelemetry120HttpClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/http/client/Opentelemetry123HttpClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/http/server/tag/Opentelemetry123MicrometerHttpServerTagsProvider.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/jms/consumer/MicrometerJmsConsumerMetricsFactory.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/kafka/consumer/Opentelemetry120KafkaConsumerMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/kafka/consumer/Opentelemetry123KafkaConsumerMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/kafka/producer/Opentelemetry120KafkaProducerMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/kafka/producer/Opentelemetry123KafkaProducerMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/s3/client/Opentelemetry120S3ClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/s3/client/Opentelemetry120S3KoraClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/s3/client/Opentelemetry123S3ClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/s3/client/Opentelemetry123S3KoraClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/scheduling/Opentelemetry123SchedulingMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/soap/client/Opentelemetry120SoapClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/soap/client/Opentelemetry123SoapClientMetrics.java
Labels: bug, module: metrics

#167 OpenAPI HTTP client auth as method argument
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaClientApi.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinClientApi.mustache
  openapi/openapi-generator/src/test/java/ru/tinkoff/kora/openapi/generator/KoraCodegenTest.java
Labels: minor, module: openapi

#173 Tracing status code fixed
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/camunda/engine/bpmn/OpentelemetryCamundaEngineBpmnTracer.java
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/grpc/client/OpentelemetryGrpcClientRequestSpan.java
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/grpc/client/OpentelemetryGrpcClientResponseSpan.java
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/grpc/client/OpentelemetryGrpcClientSpan.java
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/grpc/client/OpentelemetryGrpcClientTracer.java
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/kafka/consumer/OpentelemetryKafkaConsumerTracer.java
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/s3/client/OpentelemetryS3ClientTracer.java
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/s3/client/OpentelemetryS3KoraClientTracer.java
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/scheduling/OpentelemetrySchedulingTracer.java
Labels: bug, module: telemetry

#174 SOAP telemetry added
  http/soap-client-annotation-processor/src/main/java/ru/tinkoff/kora/soap/client/annotation/processor/SoapClientImplGenerator.java
  http/soap-client-annotation-processor/src/test/java/ru/tinkoff/kora/soap/client/annotation/processor/WebServiceClientAnnotationProcessorTest.java
  http/soap-client-symbol-processor/src/main/kotlin/ru/tinkoff/kora/soap/client/symbol/processor/SoapClientImplGenerator.kt
  http/soap-client/src/main/java/ru/tinkoff/kora/soap/client/common/SoapClientModule.java
  http/soap-client/src/main/java/ru/tinkoff/kora/soap/client/common/SoapRequestExecutor.java
  http/soap-client/src/main/java/ru/tinkoff/kora/soap/client/common/SoapResult.java
  http/soap-client/src/main/java/ru/tinkoff/kora/soap/client/common/telemetry/DefaultSoapClientTelemetryFactory.java
  http/soap-client/src/main/java/ru/tinkoff/kora/soap/client/common/telemetry/DefaultSoapTelemetryContext.java
  http/soap-client/src/main/java/ru/tinkoff/kora/soap/client/common/telemetry/Sl4fjSoapClientLogger.java
  http/soap-client/src/main/java/ru/tinkoff/kora/soap/client/common/telemetry/Sl4fjSoapClientLoggerFactory.java
  http/soap-client/src/main/java/ru/tinkoff/kora/soap/client/common/telemetry/SoapClientLogger.java
  http/soap-client/src/main/java/ru/tinkoff/kora/soap/client/common/telemetry/SoapClientLoggerFactory.java
  http/soap-client/src/main/java/ru/tinkoff/kora/soap/client/common/telemetry/SoapClientMetrics.java
  http/soap-client/src/main/java/ru/tinkoff/kora/soap/client/common/telemetry/SoapClientMetricsFactory.java
  http/soap-client/src/main/java/ru/tinkoff/kora/soap/client/common/telemetry/SoapClientTelemetry.java
  http/soap-client/src/main/java/ru/tinkoff/kora/soap/client/common/telemetry/SoapClientTelemetryFactory.java
  http/soap-client/src/main/java/ru/tinkoff/kora/soap/client/common/telemetry/SoapClientTracer.java
  http/soap-client/src/main/java/ru/tinkoff/kora/soap/client/common/telemetry/SoapClientTracerFactory.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/soap/client/MicrometerSoapClientMetricsFactory.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/soap/client/Opentelemetry120SoapClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/soap/client/Opentelemetry123SoapClientMetrics.java
  opentelemetry/opentelemetry-module/build.gradle
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/OpentelemetryModule.java
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/soap/client/OpentelemetrySoapClientTracer.java
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/soap/client/OpentelemetrySoapClientTracerFactory.java
Labels: module: telemetry

#177 KoraApp Submodule warning and duplicate fixed
  annotation-processor-common/src/testFixtures/java/ru/tinkoff/kora/annotation/processor/common/AbstractAnnotationProcessorTest.java
  annotation-processor-common/src/testFixtures/java/ru/tinkoff/kora/annotation/processor/common/TestUtils.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/KoraAppProcessor.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/KoraAppUtils.java
  kora-app-annotation-processor/src/test/java/ru/tinkoff/kora/kora/app/annotation/processor/KoraAppProcessorTest.java
  kora-app-annotation-processor/src/test/java/ru/tinkoff/kora/kora/app/annotation/processor/app/App.java
  kora-app-annotation-processor/src/test/java/ru/tinkoff/kora/kora/app/annotation/processor/app/AppWithApp.java
  kora-app-symbol-processor/src/main/kotlin/ru/tinkoff/kora/kora/app/ksp/KoraAppProcessor.kt
Labels: bug, module: core

#178 KoraAppProcessor main module generated prefix
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/KoraAppProcessor.java
  kora-app-symbol-processor/src/main/kotlin/ru/tinkoff/kora/kora/app/ksp/KoraAppProcessor.kt
Labels: minor, module: core

#181 JsonNullable validation support
  annotation-processor-common/src/main/java/ru/tinkoff/kora/annotation/processor/common/CommonUtils.java
  annotation-processor-common/src/testFixtures/java/ru/tinkoff/kora/annotation/processor/common/AbstractAnnotationProcessorTest.java
  annotation-processor-common/src/testFixtures/java/ru/tinkoff/kora/annotation/processor/common/compile/KoraCompileTestJavaFileManager.java
  json/json-annotation-processor/src/main/java/ru/tinkoff/kora/json/annotation/processor/JsonTypes.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/KoraAppProcessor.java
  symbol-processor-common/src/testFixtures/kotlin/ru/tinkoff/kora/ksp/common/AbstractSymbolProcessorTest.kt
  validation/validation-annotation-processor/build.gradle
  validation/validation-annotation-processor/src/main/java/ru/tinkoff/kora/validation/annotation/processor/ValidAnnotationProcessor.java
  validation/validation-annotation-processor/src/main/java/ru/tinkoff/kora/validation/annotation/processor/ValidMeta.java
  validation/validation-annotation-processor/src/main/java/ru/tinkoff/kora/validation/annotation/processor/ValidTypes.java
  validation/validation-annotation-processor/src/main/java/ru/tinkoff/kora/validation/annotation/processor/ValidUtils.java
  validation/validation-annotation-processor/src/main/java/ru/tinkoff/kora/validation/annotation/processor/ValidatorGenerator.java
  validation/validation-annotation-processor/src/main/java/ru/tinkoff/kora/validation/annotation/processor/aop/ValidateMethodKoraAspect.java
  validation/validation-annotation-processor/src/main/java/ru/tinkoff/kora/validation/annotation/processor/extension/ValidKoraExtension.java
  validation/validation-annotation-processor/src/main/java/ru/tinkoff/kora/validation/annotation/processor/extension/ValidKoraExtensionFactory.java
  validation/validation-annotation-processor/src/test/java/ru/tinkoff/kora/validation/annotation/processor/AbstractValidationAnnotationProcessorTest.java
  validation/validation-annotation-processor/src/test/java/ru/tinkoff/kora/validation/annotation/processor/ValidRunner.java
  validation/validation-annotation-processor/src/test/java/ru/tinkoff/kora/validation/annotation/processor/ValidationExtensionTest.java
  validation/validation-annotation-processor/src/test/java/ru/tinkoff/kora/validation/annotation/processor/ValidationJsonNullableArgumentComletableFutureTests.java
  validation/validation-annotation-processor/src/test/java/ru/tinkoff/kora/validation/annotation/processor/ValidationJsonNullableArgumentComletionStageTests.java
  validation/validation-annotation-processor/src/test/java/ru/tinkoff/kora/validation/annotation/processor/ValidationJsonNullableArgumentFluxTests.java
  validation/validation-annotation-processor/src/test/java/ru/tinkoff/kora/validation/annotation/processor/ValidationJsonNullableArgumentMonoTests.java
  validation/validation-annotation-processor/src/test/java/ru/tinkoff/kora/validation/annotation/processor/ValidationJsonNullableArgumentSyncTests.java
  validation/validation-annotation-processor/src/test/java/ru/tinkoff/kora/validation/annotation/processor/ValidationJsonNullableFieldTests.java
  validation/validation-annotation-processor/src/test/java/ru/tinkoff/kora/validation/annotation/processor/ValidationJsonNullableResultCompletableFutureTests.java
  validation/validation-annotation-processor/src/test/java/ru/tinkoff/kora/validation/annotation/processor/ValidationJsonNullableResultCompletionStageTests.java
  validation/validation-annotation-processor/src/test/java/ru/tinkoff/kora/validation/annotation/processor/ValidationJsonNullableResultFluxTests.java
  validation/validation-annotation-processor/src/test/java/ru/tinkoff/kora/validation/annotation/processor/ValidationJsonNullableResultMonoTests.java
  validation/validation-annotation-processor/src/test/java/ru/tinkoff/kora/validation/annotation/processor/ValidationJsonNullableResultSyncTests.java
  validation/validation-annotation-processor/src/test/java/ru/tinkoff/kora/validation/annotation/processor/ValidationSealedTypeTest.java
  validation/validation-common/src/main/java/ru/tinkoff/kora/validation/common/ValidationContext.java
  validation/validation-common/src/main/java/ru/tinkoff/kora/validation/common/ViolationException.java
  validation/validation-module/build.gradle
  validation/validation-module/src/main/java/ru/tinkoff/kora/validation/module/ValidationModule.java
  validation/validation-symbol-processor/build.gradle
  validation/validation-symbol-processor/src/main/kotlin/ru/tinkoff/kora/validation/symbol/processor/ValidMeta.kt
  validation/validation-symbol-processor/src/main/kotlin/ru/tinkoff/kora/validation/symbol/processor/ValidSymbolProcessor.kt
  validation/validation-symbol-processor/src/main/kotlin/ru/tinkoff/kora/validation/symbol/processor/ValidTypes.kt
  validation/validation-symbol-processor/src/main/kotlin/ru/tinkoff/kora/validation/symbol/processor/ValidUtils.kt
  validation/validation-symbol-processor/src/main/kotlin/ru/tinkoff/kora/validation/symbol/processor/ValidatorGenerator.kt
  validation/validation-symbol-processor/src/main/kotlin/ru/tinkoff/kora/validation/symbol/processor/aop/ValidateMethodKoraAspect.kt
  validation/validation-symbol-processor/src/main/kotlin/ru/tinkoff/kora/validation/symbol/processor/extension/ValidKoraExtension.kt
  validation/validation-symbol-processor/src/main/kotlin/ru/tinkoff/kora/validation/symbol/processor/extension/ValidKoraExtensionFactory.kt
  validation/validation-symbol-processor/src/test/kotlin/ru/tinkoff/kora/validation/symbol/processor/AbstractValidationSymbolProcessorTest.kt
  validation/validation-symbol-processor/src/test/kotlin/ru/tinkoff/kora/validation/symbol/processor/ValidRunner.kt
  validation/validation-symbol-processor/src/test/kotlin/ru/tinkoff/kora/validation/symbol/processor/ValidationJsonNullableArgumentNullableSyncTests.kt
  validation/validation-symbol-processor/src/test/kotlin/ru/tinkoff/kora/validation/symbol/processor/ValidationJsonNullableArgumentRequiredSyncTests.kt
  validation/validation-symbol-processor/src/test/kotlin/ru/tinkoff/kora/validation/symbol/processor/ValidationJsonNullableFieldNullableTests.kt
  validation/validation-symbol-processor/src/test/kotlin/ru/tinkoff/kora/validation/symbol/processor/ValidationJsonNullableFieldRequiredTests.kt
  validation/validation-symbol-processor/src/test/kotlin/ru/tinkoff/kora/validation/symbol/processor/ValidationJsonNullableResultNullableSyncTests.kt
  validation/validation-symbol-processor/src/test/kotlin/ru/tinkoff/kora/validation/symbol/processor/ValidationJsonNullableResultRequiredSyncTests.kt
Labels: new feature

#179 Graceful shutdown improved
  grpc/grpc-server/src/main/java/ru/tinkoff/kora/grpc/server/GrpcNettyServer.java
  grpc/grpc-server/src/main/java/ru/tinkoff/kora/grpc/server/GrpcServerModule.java
  grpc/grpc-server/src/main/java/ru/tinkoff/kora/grpc/server/config/GrpcServerConfig.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/HttpServerConfig.java
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/UndertowHttpServer.java
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/consumer/KafkaListenerConfig.java
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/consumer/containers/KafkaAssignConsumerContainer.java
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/consumer/containers/KafkaSubscribeConsumerContainer.java
  kafka/kafka/src/test/java/ru/tinkoff/kora/kafka/common/containers/KafkaAssignConsumerContainerTest.java
  kafka/kafka/src/test/java/ru/tinkoff/kora/kafka/common/containers/KafkaSubscribeConsumerContainerTest.java
  scheduling/scheduling-jdk/src/main/java/ru/tinkoff/kora/scheduling/jdk/DefaultJdkSchedulingExecutor.java
  scheduling/scheduling-jdk/src/main/java/ru/tinkoff/kora/scheduling/jdk/ScheduledExecutorServiceConfig.java
  scheduling/scheduling-jdk/src/main/java/ru/tinkoff/kora/scheduling/jdk/SchedulingJdkModule.java
  scheduling/scheduling-quartz/src/main/java/ru/tinkoff/kora/scheduling/quartz/KoraQuartzJobRegistrar.java
  scheduling/scheduling-quartz/src/main/java/ru/tinkoff/kora/scheduling/quartz/QuartzModule.java
  scheduling/scheduling-quartz/src/main/java/ru/tinkoff/kora/scheduling/quartz/SchedulingQuartzConfig.java
Labels: improvement, module: http, module: kafka, module: grpc

#180 OpenAPI Codegen allows additionalContractAnnotations without validation
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaAsyncServerApi.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaServerApi.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinServerApi.mustache
Labels: bug, module: openapi

#183 KafkaConsumer listener for topics fixed
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/consumer/containers/KafkaSubscribeConsumerContainer.java
Labels: bug, module: kafka

#188 UndertowExchangeProcessor should correctly log process errors on `HttpServerResponse` exceptions in blocking threads
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/UndertowExchangeProcessor.java
Labels: bug, module: http

#187 KafkaConsumer allow empty records
  .github/workflows/test-master.yml
  .github/workflows/test-pr.yml
  kafka/kafka-annotation-processor/src/main/java/ru/tinkoff/kora/kafka/annotation/processor/consumer/KafkaConsumerContainerGenerator.java
  kafka/kafka-symbol-processor/src/main/kotlin/ru/tinkoff/kora/kafka/symbol/processor/consumer/KafkaContainerGenerator.kt
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/consumer/KafkaListenerConfig.java
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/consumer/containers/handlers/impl/RecordsHandler.java
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/consumer/containers/handlers/wrapper/HandlerWrapper.java
  kafka/kafka/src/test/java/ru/tinkoff/kora/kafka/common/containers/KafkaAssignConsumerContainerTest.java
  kafka/kafka/src/test/java/ru/tinkoff/kora/kafka/common/containers/KafkaSubscribeConsumerContainerTest.java
Labels: minor, module: kafka

#186 KafkaProducer allow defaults methods
  kafka/kafka-symbol-processor/src/main/kotlin/ru/tinkoff/kora/kafka/symbol/processor/producer/KafkaPublisherSymbolProcessor.kt
Labels: bug, lang: kotlin, module: kafka

#184 OpenAPI enableJsonNullable option support added
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaModel.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinModel.mustache
  openapi/openapi-generator/src/test/java/ru/tinkoff/kora/openapi/generator/KoraCodegenTest.java
  openapi/openapi-generator/src/test/resources/example/petstoreV3_discriminator.yaml
  openapi/openapi-generator/src/test/resources/example/petstoreV3_nullable.yaml
Labels: new feature, module: openapi

#171 Camunda Rest OpenAPI
  dependencies.gradle
  experimental/camunda-rest-undertow/build.gradle
  experimental/camunda-rest-undertow/src/main/java/ru/tinkoff/kora/camunda/rest/CamundaRestConfig.java
  experimental/camunda-rest-undertow/src/main/java/ru/tinkoff/kora/camunda/rest/telemetry/CamundaRestTelemetry.java
  experimental/camunda-rest-undertow/src/main/java/ru/tinkoff/kora/camunda/rest/undertow/UndertowCamundaRestHttpHandler.java
  openapi/openapi-management/src/main/java/ru/tinkoff/kora/openapi/management/OpenApiHttpServerHandler.java
  openapi/openapi-management/src/main/java/ru/tinkoff/kora/openapi/management/OpenApiManagementConfig.java
  openapi/openapi-management/src/main/java/ru/tinkoff/kora/openapi/management/OpenApiManagementModule.java
  openapi/openapi-management/src/main/java/ru/tinkoff/kora/openapi/management/RapidocHttpServerHandler.java
  openapi/openapi-management/src/main/java/ru/tinkoff/kora/openapi/management/ResourceUtils.java
  openapi/openapi-management/src/main/java/ru/tinkoff/kora/openapi/management/SwaggerUIHttpServerHandler.java
Labels: new feature, experimental

#191 Quartz config processor missing
  scheduling/scheduling-quartz/build.gradle
Labels: bug

#190 Force shutdown of graceful shutdown fails
  grpc/grpc-server/src/main/java/ru/tinkoff/kora/grpc/server/GrpcNettyServer.java
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/consumer/containers/KafkaAssignConsumerContainer.java
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/consumer/containers/KafkaSubscribeConsumerContainer.java
  scheduling/scheduling-jdk/src/main/java/ru/tinkoff/kora/scheduling/jdk/DefaultJdkSchedulingExecutor.java
Labels: minor, module: grpc

#193 QuartzModule method collision fix
  scheduling/scheduling-quartz/src/main/java/ru/tinkoff/kora/scheduling/quartz/QuartzModule.java
Labels: bug, minor

#194 Jdk Scheduling Job await graceful shutdown
  scheduling/scheduling-jdk/src/main/java/ru/tinkoff/kora/scheduling/jdk/AbstractJob.java
Labels: bug

#198 JdkScheduler jobs should be awaited on release
  scheduling/scheduling-jdk/src/main/java/ru/tinkoff/kora/scheduling/jdk/AbstractJob.java
Labels: bug, module: scheduling

#195 quartz job registrar npe is fixed
  scheduling/scheduling-quartz/src/main/java/ru/tinkoff/kora/scheduling/quartz/KoraQuartzJobRegistrar.java
Labels: bug, module: scheduling

#196 Quartz job shutdown reinforced
  experimental/camunda-rest-undertow/src/main/java/ru/tinkoff/kora/camunda/rest/undertow/UndertowCamundaHttpServer.java
  grpc/grpc-server/src/main/java/ru/tinkoff/kora/grpc/server/GrpcNettyServer.java
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/UndertowHttpServer.java
  scheduling/scheduling-quartz/src/main/java/ru/tinkoff/kora/scheduling/quartz/KoraQuartzJobRegistrar.java
  scheduling/scheduling-quartz/src/main/java/ru/tinkoff/kora/scheduling/quartz/KoraQuartzScheduler.java
  scheduling/scheduling-quartz/src/main/java/ru/tinkoff/kora/scheduling/quartz/QuartzModule.java
Labels: module: scheduling

#200 Dependency minors version updated
  dependencies.gradle
Labels: dependency

#199 Fix scheduled jobs graph refresh behavior
  application-graph/src/main/java/ru/tinkoff/kora/application/graph/RefreshListener.java
  scheduling/scheduling-annotation-processor/src/main/java/ru/tinkoff/kora/scheduling/annotation/processor/JdkSchedulingGenerator.java
  scheduling/scheduling-annotation-processor/src/main/java/ru/tinkoff/kora/scheduling/annotation/processor/QuartzSchedulingGenerator.java
  scheduling/scheduling-ksp/src/main/kotlin/ru/tinkoff/kora/scheduling/ksp/JdkSchedulingGenerator.kt
  scheduling/scheduling-ksp/src/main/kotlin/ru/tinkoff/kora/scheduling/ksp/QuartzSchedulingGenerator.kt
  scheduling/scheduling-quartz/src/main/java/ru/tinkoff/kora/scheduling/quartz/KoraQuartzJob.java
  scheduling/scheduling-quartz/src/main/java/ru/tinkoff/kora/scheduling/quartz/KoraQuartzJobFactory.java
  scheduling/scheduling-quartz/src/main/java/ru/tinkoff/kora/scheduling/quartz/KoraQuartzJobRegistrar.java
  scheduling/scheduling-quartz/src/main/java/ru/tinkoff/kora/scheduling/quartz/KoraQuartzScheduler.java
  scheduling/scheduling-quartz/src/main/java/ru/tinkoff/kora/scheduling/quartz/QuartzModule.java
  scheduling/scheduling-quartz/src/test/java/ru/tinkoff/kora/scheduling/quartz/KoraQuartzJobRegistrarTest.java
Labels: bug, module: scheduling
