Repository kora-projects/kora, pull requests merged in 2025-06, with the labels that each got.

#338 Added S3 Client AWS Head contract support
  experimental/s3-client-annotation-processor/src/main/java/ru/tinkoff/kora/s3/client/annotation/processor/S3ClientAnnotationProcessor.java
  experimental/s3-client-annotation-processor/src/test/java/ru/tinkoff/kora/s3/client/annotation/processor/S3AwsAsyncClientTests.java
  experimental/s3-client-annotation-processor/src/test/java/ru/tinkoff/kora/s3/client/annotation/processor/S3AwsClientTests.java
  experimental/s3-client-annotation-processor/src/test/java/ru/tinkoff/kora/s3/client/annotation/processor/S3AwsReactorClientTests.java
  experimental/s3-client-annotation-processor/src/test/java/ru/tinkoff/kora/s3/client/annotation/processor/S3KoraAsyncClientTests.java
  experimental/s3-client-annotation-processor/src/test/java/ru/tinkoff/kora/s3/client/annotation/processor/S3KoraClientTests.java
  experimental/s3-client-annotation-processor/src/test/java/ru/tinkoff/kora/s3/client/annotation/processor/S3KoraReactorClientTests.java
  experimental/s3-client-symbol-processor/src/main/kotlin/ru/tinkoff/kora/s3/client/symbol/processor/S3ClientSymbolProcessor.kt
  experimental/s3-client-symbol-processor/src/test/kotlin/ru/tinkoff/kora/s3/client/symbol/processor/S3AwsClientTests.kt
  experimental/s3-client-symbol-processor/src/test/kotlin/ru/tinkoff/kora/s3/client/symbol/processor/S3AwsSuspendClientTests.kt
  experimental/s3-client-symbol-processor/src/test/kotlin/ru/tinkoff/kora/s3/client/symbol/processor/S3KoraClientTests.kt
Labels: minor, experimental

#337 Fixed Kafka Consumer Telemetry Deprecated method library compatibility
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/consumer/telemetry/DefaultKafkaConsumerTelemetryFactory.java
Labels: bug, module: kafka

#329 Improved Graph resolution error output
  annotation-processor-common/src/main/java/ru/tinkoff/kora/annotation/processor/common/BuildEnvironment.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/GraphResolutionHelper.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/component/ComponentDependency.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/component/DependencyClaim.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/component/ResolvedComponent.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/declaration/ComponentDeclaration.java
  kora-app-annotation-processor/src/test/java/ru/tinkoff/kora/kora/app/annotation/processor/KoraAppProcessorTest.java
Labels: lang: java, minor, module: core

#341 Fixed OpenAPI `FILTER` for for complex hierarchy
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
  openapi/openapi-generator/src/test/java/ru/tinkoff/kora/openapi/generator/KoraCodegenTest.java
  openapi/openapi-generator/src/test/resources/example/petstoreV3_filter.yaml
Labels: bug, module: openapi

#322 Added micrometer gRPC server tags provider
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/MetricsModule.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/grpc/server/MicrometerGrpcServerMetricsFactory.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/grpc/server/tag/DefaultMicrometerGrpcServerTagsProvider.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/grpc/server/tag/MetricsKey.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/grpc/server/tag/MicrometerGrpcServerTagsProvider.java
Labels: minor, module: grpc

#349 Fixed HTTP-client body logging
  http/http-client-common/src/main/java/ru/tinkoff/kora/http/client/common/telemetry/DefaultHttpClientTelemetryCollectingResponseBodyWrapper.java
Labels: bug, module: http, module: telemetry

#350 KSP error message improved
  kora-app-symbol-processor/src/main/kotlin/ru/tinkoff/kora/kora/app/ksp/component/ComponentDependencyHelper.kt
  kora-app-symbol-processor/src/main/kotlin/ru/tinkoff/kora/kora/app/ksp/declaration/ComponentDeclaration.kt
  kora-app-symbol-processor/src/test/kotlin/ru/tinkoff/kora/kora/app/ksp/InvalidTypeTest.kt
Labels: lang: kotlin, minor
