Repository kora-projects/kora, pull requests merged in 2025-05, with the labels that each got.

#324 Enum config extractor error message improved
  config/config-common/src/main/java/ru/tinkoff/kora/config/common/extractor/EnumConfigValueExtractor.java
Labels: module: core

#317 Dependencies updated
  gradle/libs.versions.toml
Labels: dependency

#323 Resilient CircuitBreaker half open error count introduced in 1.1.24 fixed
  README.md
  resilient/resilient-kora/src/main/java/ru/tinkoff/kora/resilient/circuitbreaker/KoraCircuitBreaker.java
  resilient/resilient-kora/src/main/java/ru/tinkoff/kora/resilient/retry/KoraRetry.java
  resilient/resilient-kora/src/main/java/ru/tinkoff/kora/resilient/retry/KoraRetryState.java
  resilient/resilient-kora/src/test/java/ru/tinkoff/kora/resilient/circuitbreaker/KoraCircuitBreakerTests.java
Labels: bug, module: resilient

#320 Generated impl support for interface `default` AOP method
  annotation-processor-common/src/main/java/ru/tinkoff/kora/annotation/processor/common/CommonUtils.java
  cache/cache-annotation-processor/src/main/java/ru/tinkoff/kora/cache/annotation/processor/CacheAnnotationProcessor.java
  cache/cache-symbol-processor/src/main/kotlin/ru/tinkoff/kora/cache/symbol/processor/CacheSymbolProcessor.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/RepositoryBuilder.kt
  experimental/s3-client-annotation-processor/src/main/java/ru/tinkoff/kora/s3/client/annotation/processor/S3ClientAnnotationProcessor.java
  experimental/s3-client-symbol-processor/src/main/kotlin/ru/tinkoff/kora/s3/client/symbol/processor/S3ClientSymbolProcessor.kt
  http/http-client-symbol-processor/src/main/kotlin/ru/tinkoff/kora/http/client/symbol/processor/ClientClassGenerator.kt
  kafka/kafka-symbol-processor/src/main/kotlin/ru/tinkoff/kora/kafka/symbol/processor/producer/KafkaPublisherGenerator.kt
  kafka/kafka-symbol-processor/src/main/kotlin/ru/tinkoff/kora/kafka/symbol/processor/producer/KafkaPublisherTransactionalGenerator.kt
  symbol-processor-common/src/main/kotlin/ru/tinkoff/kora/ksp/common/CommonAopUtils.kt
Labels: bug, module: core

#325 Fix JsonKoraExtension to correctly process library enums
  json/json-symbol-processor/src/main/kotlin/ru/tinkoff/kora/json/ksp/extension/JsonKoraExtension.kt
Labels: bug, module: json

#318 Json extension type propagation for sealed fixed
  json/json-annotation-processor/src/main/java/ru/tinkoff/kora/json/annotation/processor/JsonAnnotationProcessor.java
  json/json-annotation-processor/src/main/java/ru/tinkoff/kora/json/annotation/processor/extension/JsonKoraExtension.java
  json/json-annotation-processor/src/main/java/ru/tinkoff/kora/json/annotation/processor/reader/ReaderTypeMetaParser.java
  json/json-annotation-processor/src/main/java/ru/tinkoff/kora/json/annotation/processor/writer/WriterTypeMetaParser.java
  json/json-annotation-processor/src/test/java/ru/tinkoff/kora/json/annotation/processor/extension/JsonKoraExtensionTest.java
  json/json-symbol-processor/src/main/kotlin/ru/tinkoff/kora/json/ksp/reader/ReaderTypeMetaParser.kt
  json/json-symbol-processor/src/main/kotlin/ru/tinkoff/kora/json/ksp/writer/WriterTypeMetaParser.kt
  json/json-symbol-processor/src/test/kotlin/ru/tinkoff/kora/json/ksp/extension/JsonKoraExtensionTest.kt
Labels: bug, module: json

#328 OpenAPI generator Kotlin model validation fixed
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
Labels: bug, lang: kotlin, module: openapi

#335 Fixed AWS S3 Client objectMeta method
  experimental/s3-client-aws/src/main/java/ru/tinkoff/kora/s3/client/aws/AwsS3KoraAsyncClient.java
  experimental/s3-client-aws/src/main/java/ru/tinkoff/kora/s3/client/aws/AwsS3KoraClient.java
  experimental/s3-client-aws/src/main/java/ru/tinkoff/kora/s3/client/aws/AwsS3ObjectMeta.java
Labels: experimental
