Repository kora-projects/kora, pull requests merged in 2025-08, with the labels that each got.

#384 Fixed Validation for NotNull and Nullable signatures
  validation/validation-annotation-processor/src/main/java/ru/tinkoff/kora/validation/annotation/processor/ValidatorGenerator.java
  validation/validation-annotation-processor/src/main/java/ru/tinkoff/kora/validation/annotation/processor/aop/ValidateMethodKoraAspect.java
  validation/validation-annotation-processor/src/test/java/ru/tinkoff/kora/validation/annotation/processor/testdata/ValidateSync.java
Labels: bug

#381 Add virtual thread based executor for undertow http requests
  application-graph/src/main/java/ru/tinkoff/kora/application/graph/internal/loom/VirtualThreadExecutorHolder.java
  common/src/main/java/ru/tinkoff/kora/common/util/VirtualThreadFactory.java
  http/http-server-undertow/build.gradle
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/UndertowHttpServerConfig.java
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/UndertowHttpServerModule.java
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/VirtualThreadBlockingRequestExecutor.java
Labels: improvement, module: http

#331 Added post-commit and post-rollback callbacks in database-jdbc
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/jdbc/MockJdbcExecutor.java
  database/database-jdbc/src/main/java/ru/tinkoff/kora/database/jdbc/ConnectionContext.java
  database/database-jdbc/src/main/java/ru/tinkoff/kora/database/jdbc/JdbcConnectionFactory.java
  database/database-jdbc/src/main/java/ru/tinkoff/kora/database/jdbc/JdbcDatabase.java
  database/database-jdbc/src/main/kotlin/ru/tinkoff/kora/database/jdbc/JdbcDatabaseExtension.kt
  database/database-jdbc/src/test/java/ru/tinkoff/kora/database/jdbc/JdbcDatabaseTest.java
  database/database-jdbc/src/test/kotlin/ru/tinkoff/kora/database/jdbc/SuspendJdbcDatabaseTest.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/MockJdbcExecutor.kt
Labels: improvement, module: database

#370 Added HTTP Client Cookie support
  http/http-client-annotation-processor/src/main/java/ru/tinkoff/kora/http/client/annotation/processor/ClientClassGenerator.java
  http/http-client-annotation-processor/src/main/java/ru/tinkoff/kora/http/client/annotation/processor/HttpClientClassNames.java
  http/http-client-annotation-processor/src/main/java/ru/tinkoff/kora/http/client/annotation/processor/Parameter.java
  http/http-client-annotation-processor/src/test/java/ru/tinkoff/kora/http/client/annotation/processor/parameters/HttpClientCookieParametersTest.java
  http/http-client-symbol-processor/src/main/kotlin/ru/tinkoff/kora/http/client/symbol/processor/ClientClassGenerator.kt
  http/http-client-symbol-processor/src/main/kotlin/ru/tinkoff/kora/http/client/symbol/processor/HttpClientClassNames.kt
  http/http-client-symbol-processor/src/main/kotlin/ru/tinkoff/kora/http/client/symbol/processor/Parameter.kt
  http/http-client-symbol-processor/src/test/kotlin/ru/tinkoff/kora/http/client/symbol/processor/parameters/HttpClientCookieParametersTest.kt
  http/http-common/src/main/java/ru/tinkoff/kora/http/common/cookie/Cookie.java
  http/http-common/src/main/java/ru/tinkoff/kora/http/common/cookie/CookieImpl.java
  http/http-common/src/main/java/ru/tinkoff/kora/http/common/cookie/Cookies.java
Labels: module: http

#387 Improved minor Resilient CircuitBreaker
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/resilient/MicrometerCircuitBreakerMetrics.java
  resilient/resilient-kora/src/main/java/ru/tinkoff/kora/resilient/circuitbreaker/CallNotPermittedException.java
  resilient/resilient-kora/src/main/java/ru/tinkoff/kora/resilient/circuitbreaker/CircuitBreakerConfig.java
  resilient/resilient-kora/src/main/java/ru/tinkoff/kora/resilient/circuitbreaker/CircuitBreakerMetrics.java
  resilient/resilient-kora/src/main/java/ru/tinkoff/kora/resilient/circuitbreaker/KoraCircuitBreaker.java
  resilient/resilient-kora/src/main/java/ru/tinkoff/kora/resilient/circuitbreaker/NoopCircuitBreakerMetrics.java
  resilient/resilient-kora/src/test/java/ru/tinkoff/kora/resilient/circuitbreaker/KoraCircuitBreakerTests.java
  resilient/resilient-symbol-processor/build.gradle
  resilient/resilient-symbol-processor/src/test/kotlin/ru/tinkoff/kora/resilient/circuitbreaker/CircuitBreakerTests.kt
Labels: minor, module: resilient

#361 Provide more data for KafkaProducer telemetry
  kafka/kafka-annotation-processor/src/main/java/ru/tinkoff/kora/kafka/annotation/processor/KafkaClassNames.java
  kafka/kafka-annotation-processor/src/main/java/ru/tinkoff/kora/kafka/annotation/processor/producer/KafkaPublisherGenerator.java
  kafka/kafka-symbol-processor/src/main/kotlin/ru/tinkoff/kora/kafka/symbol/processor/KafkaClassNames.kt
  kafka/kafka-symbol-processor/src/main/kotlin/ru/tinkoff/kora/kafka/symbol/processor/producer/KafkaPublisherGenerator.kt
  kafka/kafka-symbol-processor/src/main/kotlin/ru/tinkoff/kora/kafka/symbol/processor/producer/KafkaPublisherSymbolProcessor.kt
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/producer/telemetry/DefaultKafkaProducerTelemetryFactory.java
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/producer/telemetry/KafkaProducerLogger.java
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/producer/telemetry/KafkaProducerTelemetry.java
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/producer/telemetry/KafkaProducerTelemetryFactory.java
Labels: minor, module: kafka, module: telemetry

#391 Cassandra profiles should not require contact points in config
  database/database-cassandra/src/main/java/ru/tinkoff/kora/database/cassandra/CassandraConfig.java
  database/database-cassandra/src/test/java/ru/tinkoff/kora/database/cassandra/CassandraDatabaseTest.java
Labels: bug, module: database

#395 Downgrade Netty to 4.1.110 due to gRPC
  gradle/libs.versions.toml
Labels: dependency, module: grpc

#373 Fixed JDBC Embedded field accessors
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/entity/DbEntity.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/jdbc/StatementSetterGenerator.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/jdbc/AbstractJdbcEntityTest.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/jdbc/JdbcEmbeddedEntityTest.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/jdbc/JdbcMacrosTest.java
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/DbUtils.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/StatementSetterGenerator.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcMacrosTest.kt
  symbol-processor-common/src/main/kotlin/ru/tinkoff/kora/ksp/common/FieldFactory.kt
Labels: bug, module: database

#389 Added HTTP client metric tags provider
  http/http-client-common/src/main/java/ru/tinkoff/kora/http/client/common/telemetry/HttpClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/MetricsModule.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/http/client/MicrometerHttpClientMetricsFactory.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/http/client/Opentelemetry120HttpClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/http/client/Opentelemetry123HttpClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/http/client/tag/DurationKey.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/http/client/tag/MicrometerHttpClientTagsProvider.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/http/client/tag/Opentelemetry120MicrometerHttpClientTagsProvider.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/http/client/tag/Opentelemetry123MicrometerHttpClientTagsProvider.java
Labels: minor, module: http, module: telemetry

#388 Added gRPC metric tags provider
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/MetricsModule.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/grpc/client/MicrometerGrpcClientMetricsFactory.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/grpc/client/Opentelemetry120GrpcClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/grpc/client/Opentelemetry123GrpcClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/grpc/client/tag/DefaultMicrometerGrpcClientTagsProvider.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/grpc/client/tag/MessageReceivedKey.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/grpc/client/tag/MessageSendKey.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/grpc/client/tag/MethodDurationKey.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/grpc/client/tag/MicrometerGrpcClientTagsProvider.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/grpc/server/tag/DefaultMicrometerGrpcServerTagsProvider.java
Labels: minor, module: grpc, module: telemetry

#382 Improved KafkaListener & KafkaProducer metrics
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/consumer/telemetry/DefaultKafkaConsumerTelemetry.java
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/consumer/telemetry/KafkaConsumerMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/MetricsModule.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/http/server/tag/Opentelemetry123MicrometerHttpServerTagsProvider.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/kafka/consumer/MicrometerKafkaConsumerMetricsFactory.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/kafka/consumer/Opentelemetry120KafkaConsumerMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/kafka/consumer/Opentelemetry123KafkaConsumerMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/kafka/consumer/tag/MicrometerKafkaConsumerTagsProvider.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/kafka/consumer/tag/Opentelemetry120KafkaConsumerTagsProvider.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/kafka/consumer/tag/Opentelemetry123KafkaConsumerTagsProvider.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/kafka/consumer/tag/RecordDurationKey.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/kafka/consumer/tag/RecordsDurationKey.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/kafka/consumer/tag/TopicLagKey.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/kafka/producer/MicrometerKafkaProducerMetricsFactory.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/kafka/producer/Opentelemetry120KafkaProducerMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/kafka/producer/Opentelemetry123KafkaProducerMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/kafka/producer/tag/MicrometerKafkaProducerTagsProvider.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/kafka/producer/tag/Opentelemetry120KafkaProviderTagsProvider.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/kafka/producer/tag/Opentelemetry123KafkaProviderTagsProvider.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/kafka/producer/tag/RecordDurationKey.java
Labels: minor, module: kafka, module: telemetry

#368 Added Redis Lettuce factory improvements
  cache/cache-redis/build.gradle
  cache/cache-redis/src/main/java/ru/tinkoff/kora/cache/redis/lettuce/LettuceClientConfig.java
  cache/cache-redis/src/main/java/ru/tinkoff/kora/cache/redis/lettuce/LettuceClientFactory.java
  cache/cache-redis/src/main/java/ru/tinkoff/kora/cache/redis/lettuce/LettuceConfigurator.java
  cache/cache-redis/src/main/java/ru/tinkoff/kora/cache/redis/lettuce/LettuceModule.java
  cache/cache-redis/src/main/java/ru/tinkoff/kora/cache/redis/lettuce/telemetry/CommandLatencyRecorderFactory.java
  cache/cache-redis/src/test/java/ru/tinkoff/kora/cache/redis/CacheRunner.java
  micrometer/micrometer-module/build.gradle
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/MetricsModule.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/cache/redis/lettuce/MicrometerLettuceCommandLatencyRecorderFactory.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/cache/redis/lettuce/Opentelemetry120LettuceCommandLatencyRecorder.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/cache/redis/lettuce/Opentelemetry123LettuceCommandLatencyRecorder.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/grpc/client/Opentelemetry123GrpcClientMetrics.java
Labels: improvement, module: cache

#403 Remove kora app annotation processor rounds support
  config/config-annotation-processor/src/main/java/ru/tinkoff/kora/config/annotation/processor/extension/ConfigKoraExtension.java
  config/config-annotation-processor/src/test/java/ru/tinkoff/kora/config/annotation/processor/ConfigExtractorGeneratorExtensionTest.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/cassandra/extension/CassandraTypesExtension.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/extension/RepositoryKoraExtension.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/jdbc/extension/JdbcTypesExtension.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/AbstractExtensionTest.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/cassandra/CassandraExtensionTest.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/jdbc/JdbcEmbeddedEntityTest.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/jdbc/JdbcEntityTest.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/jdbc/JdbcExtensionTest.java
  http/http-client-annotation-processor/src/main/java/ru/tinkoff/kora/http/client/annotation/processor/extension/HttpClientKoraExtension.java
  json/json-annotation-processor/src/main/java/ru/tinkoff/kora/json/annotation/processor/extension/JsonKoraExtension.java
  json/json-annotation-processor/src/test/java/ru/tinkoff/kora/json/annotation/processor/EnumTest.java
  json/json-annotation-processor/src/test/java/ru/tinkoff/kora/json/annotation/processor/GenericsTest.java
  json/json-annotation-processor/src/test/java/ru/tinkoff/kora/json/annotation/processor/RecordTest.java
  json/json-annotation-processor/src/test/java/ru/tinkoff/kora/json/annotation/processor/SealedTest.java
  json/json-annotation-processor/src/test/java/ru/tinkoff/kora/json/annotation/processor/extension/JsonKoraExtensionTest.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/DependencyModuleHintProvider.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/GraphBuilder.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/KoraAppProcessor.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/ProcessingState.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/ResolvedGraph.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/exception/NewRoundException.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/extension/ExtensionResult.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/extension/KoraExtension.java
  kora-app-annotation-processor/src/test/java/ru/tinkoff/kora/kora/app/annotation/processor/AbstractKoraAppTest.java
  kora-app-annotation-processor/src/test/java/ru/tinkoff/kora/kora/app/annotation/processor/KoraAppProcessorTest.java
  kora-app-annotation-processor/src/test/java/ru/tinkoff/kora/kora/app/annotation/processor/app/AppWithExtension.java
  kora-app-annotation-processor/src/test/java/ru/tinkoff/kora/kora/app/annotation/processor/app/AppWithProcessorExtension.java
  kora-app-annotation-processor/src/test/resources/META-INF/services/ru.tinkoff.kora.kora.app.annotation.processor.extension.ExtensionFactory
  mapstruct/mapstruct-java-extension/src/main/java/ru/tinkoff/kora/mapstruct/java/extension/MapstructKoraExtension.java
  validation/validation-annotation-processor/src/main/java/ru/tinkoff/kora/validation/annotation/processor/extension/ValidKoraExtension.java
  validation/validation-annotation-processor/src/test/java/ru/tinkoff/kora/validation/annotation/processor/ValidationExtensionTest.java
  validation/validation-annotation-processor/src/test/java/ru/tinkoff/kora/validation/annotation/processor/ValidationSealedTypeTest.java
Labels: breaking change, module: core

#432 Fixed OpentelemetryContext npe state
  opentelemetry/opentelemetry-common/src/main/java/ru/tinkoff/kora/opentelemetry/common/OpentelemetryContext.java
Labels: bug, module: telemetry

#440 Remove async invocation support for database generator
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/cassandra/CassandraRepositoryGenerator.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/cassandra/CassandraTypes.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/cassandra/extension/CassandraTypesExtension.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/jdbc/JdbcRepositoryGenerator.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/ExtensionTest.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/app/TestKoraAppExecutorTagged.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/cassandra/CassandraExtensionTest.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/cassandra/CassandraResultsTest.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/jdbc/JdbcMacrosTest.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/jdbc/JdbcMonoResultsTest.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/jdbc/JdbcResultsTest.java
  database/database-cassandra/src/main/java/ru/tinkoff/kora/database/cassandra/mapper/result/CassandraReactiveResultSetMapper.java
  database/database-jdbc/build.gradle
  database/database-jdbc/src/main/kotlin/ru/tinkoff/kora/database/jdbc/JdbcDatabaseExtension.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/cassandra/CassandraRepositoryGenerator.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/cassandra/CassandraTypes.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcRepositoryGenerator.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/cassandra/CassandraEntity.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcMacrosTest.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcResultsTest.kt
Labels: breaking change, module: database
