Repository kora-projects/kora, pull requests merged in 2025-01, with the labels that each got.

#218 Minor dependency fixes
  dependencies.gradle
Labels: dependency

#216 JUnit Mock/Spy/Replace Wrapped components fixed
  test/test-junit5/src/main/java/ru/tinkoff/kora/test/extension/junit5/GraphMockitoMock.java
  test/test-junit5/src/main/java/ru/tinkoff/kora/test/extension/junit5/GraphMockitoSpy.java
  test/test-junit5/src/main/java/ru/tinkoff/kora/test/extension/junit5/GraphMockkMock.java
  test/test-junit5/src/main/java/ru/tinkoff/kora/test/extension/junit5/GraphMockkSpyk.java
  test/test-junit5/src/main/java/ru/tinkoff/kora/test/extension/junit5/GraphReplacementNoDeps.java
  test/test-junit5/src/main/java/ru/tinkoff/kora/test/extension/junit5/GraphReplacementWithDeps.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/inject/InjectConstructorTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/inject/InjectFieldsTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/inject/InjectMethodArgumentsTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/inject/InjectModuleExtendGraphTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/inject/InjectModuleGraphTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/inject/InjectParameterGraphTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/inject/InjectWrapperTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/mockito/MockWrappedTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/mockito/SpyWrappedTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/replace/ReplaceWrappedTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/testdata/TestApplication.java
Labels: bug, module: test

#211 OpenAPI Generator discriminator improved
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaModel.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinModel.mustache
  openapi/openapi-generator/src/test/resources/example/petstoreV3_discriminator.yaml
Labels: minor, module: openapi

#219 Fix unused parameter in HandlerWrapper
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/consumer/containers/handlers/wrapper/HandlerWrapper.java
Labels: bug, module: kafka

#220 Fix transactional kafka publisher `sendOffsetsToTransaction` method
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/producer/TransactionImpl.java
  kafka/kafka/src/test/java/ru/tinkoff/kora/kafka/common/producer/TransactionalPublisherImplTest.java
Labels: bug, module: kafka

#217 Fix quartz scheduler default configuration for correct clustered behavior
  scheduling/scheduling-quartz/src/main/java/ru/tinkoff/kora/scheduling/quartz/KoraQuartzScheduler.java
Labels: bug, module: scheduling

#148 Database Kotlin Suspend
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/jdbc/MockJdbcExecutor.java
  database/database-jdbc/build.gradle
  database/database-jdbc/src/main/java/ru/tinkoff/kora/database/jdbc/JdbcConnectionFactory.java
  database/database-jdbc/src/main/java/ru/tinkoff/kora/database/jdbc/JdbcDatabase.java
  database/database-jdbc/src/main/java/ru/tinkoff/kora/database/jdbc/JdbcDatabaseModule.java
  database/database-jdbc/src/main/kotlin/ru/tinkoff/kora/database/jdbc/JdbcDatabaseExtension.kt
  database/database-jdbc/src/test/kotlin/ru/tinkoff/kora/database/jdbc/SuspendJdbcDatabaseTest.kt
  database/database-r2dbc/build.gradle
  database/database-r2dbc/src/main/java/ru/tinkoff/kora/database/r2dbc/R2dbcDatabase.java
  database/database-r2dbc/src/main/kotlin/ru/tinkoff/kora/database/r2dbc/R2dbcDatabaseExtension.kt
  database/database-r2dbc/src/test/kotlin/ru/tinkoff/kora/database/r2dbc/R2dbcDatabaseExtensionTest.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcRepositoryGenerator.kt
  database/database-vertx/build.gradle
  database/database-vertx/src/main/java/ru/tinkoff/kora/database/vertx/VertxConnectionFactory.java
  database/database-vertx/src/main/kotlin/ru/tinkoff/kora/database/vertx/VertxDatabaseExtension.kt
  database/database-vertx/src/main/kotlin/ru/tinkoff/kora/database/vertx/VertxQueryExecutorExtension.kt
  resilient/resilient-symbol-processor/src/test/kotlin/ru/tinkoff/kora/resilient/symbol/processor/aop/testdata/CircuitBreakerTarget.kt
  resilient/resilient-symbol-processor/src/test/kotlin/ru/tinkoff/kora/resilient/symbol/processor/aop/testdata/RetryTarget.kt
  resilient/resilient-symbol-processor/src/test/kotlin/ru/tinkoff/kora/resilient/symbol/processor/aop/testdata/TimeoutTarget.kt
Labels: bug, improvement, lang: kotlin, module: database

#221 ResilientException reinforced
  resilient/resilient-kora/src/main/java/ru/tinkoff/kora/resilient/ResilientException.java
  resilient/resilient-kora/src/main/java/ru/tinkoff/kora/resilient/circuitbreaker/CallNotPermittedException.java
  resilient/resilient-kora/src/main/java/ru/tinkoff/kora/resilient/retry/KoraRetry.java
  resilient/resilient-kora/src/main/java/ru/tinkoff/kora/resilient/retry/KoraRetryReactorBuilder.java
  resilient/resilient-kora/src/main/java/ru/tinkoff/kora/resilient/retry/RetryExhaustedException.java
  resilient/resilient-symbol-processor/src/main/kotlin/ru/tinkoff/kora/resilient/symbol/processor/aop/RetryKoraAspect.kt
Labels: minor, module: resilient

#222 Zeebe config reinforced
  experimental/camunda-zeebe-worker/src/main/java/ru/tinkoff/kora/camunda/zeebe/worker/ZeebeClientConfig.java
  experimental/camunda-zeebe-worker/src/main/java/ru/tinkoff/kora/camunda/zeebe/worker/ZeebeManagedChannelFactory.java
  experimental/camunda-zeebe-worker/src/main/java/ru/tinkoff/kora/camunda/zeebe/worker/ZeebeWorkerConfig.java
  experimental/camunda-zeebe-worker/src/main/java/ru/tinkoff/kora/camunda/zeebe/worker/ZeebeWorkerModule.java
Labels: improvement, experimental

#226 Quartz default properties values fixed
  scheduling/scheduling-quartz/src/main/java/ru/tinkoff/kora/scheduling/quartz/KoraQuartzScheduler.java
  scheduling/scheduling-quartz/src/main/java/ru/tinkoff/kora/scheduling/quartz/QuartzModule.java
  scheduling/scheduling-quartz/src/test/java/ru/tinkoff/kora/scheduling/quartz/KoraQuartzConfigTests.java
Labels: bug, module: scheduling

#225 OpenAPI discriminator enum naming fixed
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
  openapi/openapi-generator/src/test/resources/example/petstoreV3_discriminator.yaml
Labels: bug, module: openapi

#227 ClientClassGenerator error handling reinforced
  annotation-processor-common/src/testFixtures/java/ru/tinkoff/kora/annotation/processor/common/AbstractAnnotationProcessorTest.java
  http/http-client-annotation-processor/src/main/java/ru/tinkoff/kora/http/client/annotation/processor/ClientClassGenerator.java
  http/http-client-annotation-processor/src/main/java/ru/tinkoff/kora/http/client/annotation/processor/HttpClientAnnotationProcessor.java
  http/http-client-annotation-processor/src/test/java/ru/tinkoff/kora/http/client/annotation/processor/parameters/HttpClientQueryParametersTest.java
  http/http-client-symbol-processor/src/main/kotlin/ru/tinkoff/kora/http/client/symbol/processor/ClientClassGenerator.kt
  http/http-client-symbol-processor/src/test/kotlin/ru/tinkoff/kora/http/client/symbol/processor/parameters/HttpClientQueryParametersTest.kt
Labels: minor, module: http

#229 ViolationExceptionHttpServerResponseMapper context added
  validation/validation-module/src/main/java/ru/tinkoff/kora/validation/module/http/server/ValidationHttpServerInterceptor.java
Labels: minor, module: http

#230 Allow empty interfaces as targets of `@ConfigValueExtractor` targets
  config/config-symbol-processor/src/main/kotlin/ru/tinkoff/kora/config/ksp/ConfigParserGenerator.kt
  config/config-symbol-processor/src/test/kotlin/ru/tinkoff/kora/config/symbol/processor/AnnotationConfigTest.kt
  symbol-processor-common/src/testFixtures/kotlin/ru/tinkoff/kora/ksp/common/AbstractSymbolProcessorTest.kt
Labels: lang: kotlin, minor, module: core

#231 Fix handling of null values for sealed interfaces in JSON parsing
  json/json-annotation-processor/src/main/java/ru/tinkoff/kora/json/annotation/processor/reader/SealedInterfaceReaderGenerator.java
  json/json-annotation-processor/src/test/java/ru/tinkoff/kora/json/annotation/processor/SealedTest.java
  json/json-common/src/main/java/ru/tinkoff/kora/json/common/util/DiscriminatorHelper.java
  json/json-symbol-processor/src/main/kotlin/ru/tinkoff/kora/json/ksp/reader/SealedInterfaceReaderGenerator.kt
  json/json-symbol-processor/src/test/kotlin/ru/tinkoff/kora/json/ksp/SealedTest.kt
Labels: bug, module: json

#232 Adds automatic module name to the JAR manifest
  build.gradle
Labels: minor

#236 Cassandra row mapper for primitive return types fixed
  database/database-cassandra/src/main/java/ru/tinkoff/kora/database/cassandra/CassandraModule.java
Labels: bug, module: database

#235 OpenAPI typeMapping fixed
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
Labels: bug, module: openapi

#234 HTTP-server parameter parsing enriched
  http/http-server-annotation-processor/src/main/java/ru/tinkoff/kora/http/server/annotation/processor/RequestHandlerGenerator.java
  http/http-server-annotation-processor/src/test/java/ru/tinkoff/kora/http/server/annotation/processor/AbstractHttpControllerTest.java
  http/http-server-annotation-processor/src/test/java/ru/tinkoff/kora/http/server/annotation/processor/ControllerParamsTest.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/StringParameterReadersModule.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/handler/RequestHandlerUtils.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/handler/StringParameterReader.java
  http/http-server-symbol-processor/src/main/kotlin/ru/tinkoff/kora/http/server/symbol/procesor/ExtractorFunctions.kt
  http/http-server-symbol-processor/src/main/kotlin/ru/tinkoff/kora/http/server/symbol/procesor/RouteProcessor.kt
  http/http-server-symbol-processor/src/test/kotlin/ru/tinkoff/kora/http/server/symbol/processor/AbstractHttpControllerTest.kt
  http/http-server-symbol-processor/src/test/kotlin/ru/tinkoff/kora/http/server/symbol/processor/ControllerParamsTest.kt
Labels: improvement, module: http

#237 Cassandra more default mappers added
  database/database-cassandra/src/main/java/ru/tinkoff/kora/database/cassandra/CassandraModule.java
Labels: minor, module: database

#238 Allow parameterized classed to be discovered as final components
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/GraphBuilder.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/GraphResolutionHelper.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/component/ComponentDependencyHelper.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/declaration/ComponentDeclaration.java
  kora-app-annotation-processor/src/test/java/ru/tinkoff/kora/kora/app/annotation/processor/DependencyTest.java
  kora-app-symbol-processor/src/main/kotlin/ru/tinkoff/kora/kora/app/ksp/GraphResolutionHelper.kt
  kora-app-symbol-processor/src/main/kotlin/ru/tinkoff/kora/kora/app/ksp/component/ComponentDependencyHelper.kt
  kora-app-symbol-processor/src/main/kotlin/ru/tinkoff/kora/kora/app/ksp/declaration/ComponentDeclaration.kt
  kora-app-symbol-processor/src/test/kotlin/ru/tinkoff/kora/kora/app/ksp/ComponentTemplatesTest.kt
  kora-app-symbol-processor/src/test/kotlin/ru/tinkoff/kora/kora/app/ksp/DependencyTest.kt
Labels: bug, minor, module: core
