Repository kora-projects/kora, pull requests merged in 2025-09, with the labels that each got.

#443 Fix jdbc connection context work with multiple datasources
  database/database-jdbc/src/main/java/ru/tinkoff/kora/database/jdbc/ConnectionContext.java
  database/database-jdbc/src/main/java/ru/tinkoff/kora/database/jdbc/JdbcDatabase.java
  database/database-jdbc/src/main/kotlin/ru/tinkoff/kora/database/jdbc/JdbcDatabaseExtension.kt
Labels: bug, module: database

#445 Fixed Opentelemetry gRPC dependency for OkHttp client
  experimental/s3-client-minio/build.gradle
  gradle/libs.versions.toml
  http/http-client-ok/build.gradle
  opentelemetry/opentelemetry-tracing-exporter-grpc/build.gradle
Labels: bug, dependencies, module: telemetry

#447 Improved JUnit logging message for context initialization
  test/test-junit5/src/main/java/ru/tinkoff/kora/test/extension/junit5/KoraJUnit5Extension.java
  test/test-junit5/src/main/java/ru/tinkoff/kora/test/extension/junit5/TestGraph.java
Labels: minor, module: test

#437 Fixed OpenAPI generator improve `discriminator` parent model
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
  openapi/openapi-generator/src/test/resources/example/petstoreV3_discriminator.yaml
Labels: bug, module: openapi

#449 Fixed OpenAPI generator Kotlin items nullable
  openapi/openapi-generator/build.gradle
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaEnumClass.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaModel.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinEnumClass.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinModel.mustache
  openapi/openapi-generator/src/test/java/ru/tinkoff/kora/openapi/generator/KoraCodegenTest.java
  openapi/openapi-generator/src/test/resources/example/petstoreV3_nullable.yaml
Labels: bug, module: openapi

#458 Added ConsumerRecordWrapper#unwrap for accessing original record
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/consumer/containers/ConsumerRecordWrapper.java
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/consumer/containers/ConsumerRecordsWrapper.java
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/consumer/containers/ConsumerWrapper.java
Labels: minor, module: kafka

#454 Fixed OpenAPI generator Validation loop sof
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
  openapi/openapi-generator/src/test/resources/example/petstoreV3_validation.yaml
Labels: bug, module: openapi

#469 [ksp] Fix problem with HttpClientResponseMapper resolution on ResponseCodeMapper annotation
  http/http-client-symbol-processor/src/main/kotlin/ru/tinkoff/kora/http/client/symbol/processor/ClientClassGenerator.kt
  http/http-client-symbol-processor/src/test/kotlin/ru/tinkoff/kora/http/client/symbol/processor/ResponseCodeMapperTest.kt
Labels: bug, module: http

#472 Fixed OpenAPI generator Java non-json mapper tag
  openapi/openapi-generator/build.gradle
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaServerResponseMappers.mustache
  openapi/openapi-generator/src/test/java/ru/tinkoff/kora/openapi/generator/KoraCodegenTest.java
  openapi/openapi-generator/src/test/resources/example/petstoreV3_responses.yaml
Labels: bug, module: openapi, java
