Repository kora-projects/kora, pull requests merged in 2025-04, with the labels that each got.

#298 Fix ksp generation of json writers for java classes
  json/json-annotation-processor/src/test/java/ru/tinkoff/kora/json/annotation/processor/extension/JsonKoraExtensionTest.java
  json/json-symbol-processor/src/main/kotlin/ru/tinkoff/kora/json/ksp/writer/WriterTypeMetaParser.kt
  json/json-symbol-processor/src/test/java/ru/tinkoff/kora/json/ksp/dto/JavaBeanDto.java
  json/json-symbol-processor/src/test/kotlin/ru/tinkoff/kora/json/ksp/extension/JsonKoraExtensionTest.kt
Labels: lang: kotlin, module: json

#306 CircuitBreaker half-open proper error count fixed
  resilient/resilient-annotation-processor/src/main/java/ru/tinkoff/kora/resilient/annotation/processor/aop/CircuitBreakerKoraAspect.java
  resilient/resilient-annotation-processor/src/main/java/ru/tinkoff/kora/resilient/annotation/processor/aop/FallbackKoraAspect.java
  resilient/resilient-annotation-processor/src/main/java/ru/tinkoff/kora/resilient/annotation/processor/aop/TimeoutKoraAspect.java
  resilient/resilient-kora/src/main/java/ru/tinkoff/kora/resilient/circuitbreaker/KoraCircuitBreaker.java
  resilient/resilient-kora/src/main/java/ru/tinkoff/kora/resilient/timeout/KoraTimeout.java
  resilient/resilient-kora/src/test/java/ru/tinkoff/kora/resilient/circuitbreaker/KoraCircuitBreakerTests.java
  resilient/resilient-symbol-processor/src/main/kotlin/ru/tinkoff/kora/resilient/symbol/processor/aop/CircuitBreakerKoraAspect.kt
Labels: bug, module: resilient

#299 OpenAPI discriminator for free Form error handling
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
Labels: bug, module: openapi

#296 AbstractRedisCache NPE for putAsync fixed
  cache/cache-redis/src/main/java/ru/tinkoff/kora/cache/redis/AbstractRedisCache.java
Labels: bug, module: cache

#300 Kafka metric report lag proper value fixed
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/consumer/containers/KafkaAssignConsumerContainer.java
Labels: bug, module: kafka, module: telemetry

#308 S3Client add generated code throws exception
  experimental/s3-client-annotation-processor/src/main/java/ru/tinkoff/kora/s3/client/annotation/processor/S3ClientAnnotationProcessor.java
  experimental/s3-client-symbol-processor/src/main/kotlin/ru/tinkoff/kora/s3/client/symbol/processor/S3ClientSymbolProcessor.kt
Labels: minor, experimental

#304 OpenApi management do not block paths for disabled endpoints
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/handler/HttpServerRequestHandler.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/handler/HttpServerRequestHandlerImpl.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/router/PublicApiHandler.java
  openapi/openapi-management/src/main/java/ru/tinkoff/kora/openapi/management/OpenApiManagementModule.java
Labels: bug, module: openapi

#302 OpenAPI Kotlin Server authorization optimized
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinServerSecuritySchema.mustache
Labels: module: openapi, optimization

#297 OpenAPI enum Cyrillic translite support
  gradle/libs.versions.toml
  openapi/openapi-generator/build.gradle
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
  openapi/openapi-generator/src/test/resources/example/petstoreV3_enum.yaml
Labels: bug, module: openapi

#305 OpenAPI Enum constant SnakeCase additional naming
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaEnumClass.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinEnumClass.mustache
  openapi/openapi-generator/src/test/resources/example/petstoreV3_enum.yaml
Labels: minor, module: openapi

#303 OpenAPI `filterWithModels` custom option added
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
  openapi/openapi-generator/src/test/java/ru/tinkoff/kora/openapi/generator/KoraCodegenTest.java
  openapi/openapi-generator/src/test/resources/example/petstoreV3_filter.yaml
Labels: improvement, module: openapi

#301 Make trace exporter more configurable
  gradle/libs.versions.toml
  micrometer/micrometer-module/build.gradle
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/MetricsModule.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/grpc/client/Opentelemetry120GrpcClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/grpc/client/Opentelemetry123GrpcClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/grpc/server/MicrometerGrpcServerMetricsFactory.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/jms/consumer/MicrometerJmsConsumerMetricsFactory.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/kafka/consumer/Opentelemetry120KafkaConsumerMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/kafka/producer/Opentelemetry120KafkaProducerMetrics.java
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/db/OpentelemetryDataBaseTracer.java
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/jms/consumer/OpentelemetryJmsConsumerTracer.java
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/kafka/consumer/OpentelemetryKafkaConsumerTracer.java
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/kafka/consumer/OpentelemetryKafkaProducerTracer.java
  opentelemetry/opentelemetry-tracing-exporter-grpc/src/main/java/ru/tinkoff/kora/opentelemetry/tracing/exporter/grpc/OpentelemetryGrpcExporterConfig.java
  opentelemetry/opentelemetry-tracing-exporter-grpc/src/main/java/ru/tinkoff/kora/opentelemetry/tracing/exporter/grpc/OpentelemetryGrpcExporterModule.java
  opentelemetry/opentelemetry-tracing-exporter-http/src/main/java/ru/tinkoff/kora/opentelemetry/tracing/exporter/http/OpentelemetryHttpExporterConfig.java
  opentelemetry/opentelemetry-tracing-exporter-http/src/main/java/ru/tinkoff/kora/opentelemetry/tracing/exporter/http/OpentelemetryHttpExporterModule.java
  opentelemetry/opentelemetry-tracing/src/main/java/ru/tinkoff/kora/opentelemetry/tracing/OpentelemetryTracingModule.java
Labels: improvement, dependency, module: telemetry

#313 OpenAPI enum field naming and translite field naming fixed
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
  openapi/openapi-generator/src/test/resources/example/petstoreV3_enum.yaml
Labels: bug, module: openapi

#314 OpenAPI filterWithModels complex hierarchy and recursion fixes
  openapi/openapi-generator/build.gradle
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaModel.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinModel.mustache
  openapi/openapi-generator/src/test/resources/example/petstoreV3_discriminator.yaml
  openapi/openapi-generator/src/test/resources/example/petstoreV3_filter.yaml
  openapi/openapi-generator/src/test/resources/example/petstoreV3_single_response.yaml
Labels: bug, module: openapi

#326 Replace HashMap with LinkedHashMap to preserve fields order
  json/json-common/src/main/java/ru/tinkoff/kora/json/common/JsonObjectCodec.java
Labels: minor, module: json
