Repository kora-projects/kora, pull requests merged in 2025-07, with the labels that each got.

#356 Allow to set multiple KoraConfigModification system properties from a map
  test/test-junit5/src/main/java/ru/tinkoff/kora/test/extension/junit5/KoraConfigModification.java
Labels: minor, module: test

#360 Grpc configuration improvement
  experimental/camunda-zeebe-worker/src/main/java/ru/tinkoff/kora/camunda/zeebe/worker/ZeebeManagedChannelFactory.java
  grpc/grpc-client/src/main/java/ru/tinkoff/grpc/client/ManagedChannelLifecycle.java
  grpc/grpc-client/src/main/java/ru/tinkoff/grpc/client/config/GrpcClientConfig.java
  grpc/grpc-server/src/main/java/ru/tinkoff/kora/grpc/server/GrpcServerModule.java
  grpc/grpc-server/src/main/java/ru/tinkoff/kora/grpc/server/config/GrpcServerConfig.java
Labels: improvement, module: grpc

#367 Added Javadoc for Delegates
  openapi/openapi-generator/build.gradle
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaAnnotatedParams.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaApiResponses.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaClientApi.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaClientResponseMappers.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaEnumClass.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaFormParams.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaModel.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaServerApi.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaServerApiDelegate.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaServerResponseMappers.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinAnnotatedParams.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinApiResponses.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinClientApi.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinClientResponseMappers.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinEnumClass.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinServerApi.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinServerApiDelegate.mustache
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/kotlinServerResponseMappers.mustache
  openapi/openapi-generator/src/test/resources/example/petstoreV3.yaml
Labels: module: openapi, optimization

#369 Added Cache Redis SSL config
  cache/cache-redis/src/main/java/ru/tinkoff/kora/cache/redis/lettuce/LettuceClientConfig.java
  cache/cache-redis/src/main/java/ru/tinkoff/kora/cache/redis/lettuce/LettuceClientFactory.java
  cache/cache-redis/src/test/java/ru/tinkoff/kora/cache/redis/CacheRunner.java
Labels: minor, module: cache

#364 Added Kafka Listener `SkipRecordException`
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/consumer/containers/handlers/impl/RecordHandler.java
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/exceptions/KafkaSkipRecordException.java
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/exceptions/SkippableRecordException.java
Labels: minor, module: kafka

#374 Fix bug with KafkaAssignConsumerContainer on consumer restart
  kafka/kafka/src/main/java/ru/tinkoff/kora/kafka/common/consumer/containers/KafkaAssignConsumerContainer.java
Labels: bug, module: kafka
