Repository kora-projects/kora, pull requests merged in 2025-03, with the labels that each got.

#262 Generated http client should not use `this` to access static mappers
  http/http-client-annotation-processor/src/main/java/ru/tinkoff/kora/http/client/annotation/processor/ClientClassGenerator.java
  http/http-client-annotation-processor/src/test/java/ru/tinkoff/kora/http/client/annotation/processor/AbstractHttpClientTest.java
  http/http-client-annotation-processor/src/test/java/ru/tinkoff/kora/http/client/annotation/processor/ReactiveApiTest.java
  http/http-client-annotation-processor/src/test/java/ru/tinkoff/kora/http/client/annotation/processor/ResponseCodeMapperTest.java
Labels: module: http, optimization

#259 HttpServerRequest#route marked nullable
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/HttpServerRequest.java
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/router/LazyRequest.java
Labels: module: http, optimization

#265 `Cache<K, Optional<T>>` signature support added
  cache/cache-annotation-processor/src/main/java/ru/tinkoff/kora/cache/annotation/processor/aop/CachePutAopKoraAspect.java
  cache/cache-annotation-processor/src/main/java/ru/tinkoff/kora/cache/annotation/processor/aop/CacheableAopKoraAspect.java
  cache/cache-annotation-processor/src/test/java/ru/tinkoff/kora/cache/annotation/processor/AbstractCacheAnnotationProcessorTests.java
  cache/cache-annotation-processor/src/test/java/ru/tinkoff/kora/cache/annotation/processor/CacheOptionalTests.java
Labels: minor, module: cache

#242 Generated ConfigValueExtractor should not have unused fields
  annotation-processor-common/src/main/java/ru/tinkoff/kora/annotation/processor/common/CommonUtils.java
  annotation-processor-common/src/main/java/ru/tinkoff/kora/annotation/processor/common/FieldFactory.java
  config/config-annotation-processor/src/main/java/ru/tinkoff/kora/config/annotation/processor/ConfigParserGenerator.java
Labels: module: core, optimization

#257 S3Client Kotlin generated constructor fixed
  experimental/s3-client-symbol-processor/src/main/kotlin/ru/tinkoff/kora/s3/client/symbol/processor/S3ClientSymbolProcessor.kt
Labels: bug, lang: kotlin

#271 JUnit5 mock component not found in graph fixed
  test/test-junit5/src/main/java/ru/tinkoff/kora/test/extension/junit5/KoraJUnit5Extension.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/mockito/MockOnlyTests.java
Labels: bug, module: test

#270 HTTP Server query and header retrieval optimized
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/UndertowHttpHeaders.java
  http/http-server-undertow/src/main/java/ru/tinkoff/kora/http/server/undertow/request/UndertowPublicApiRequest.java
Labels: module: http, optimization

#266 Database Record/DataClass self query parameter
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/DbUtils.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/QueryWithParameters.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/cassandra/StatementSetterGenerator.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/jdbc/StatementSetterGenerator.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/r2dbc/R2dbcStatementSetterGenerator.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/cassandra/CassandraParametersTest.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/jdbc/JdbcParametersTest.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/r2dbc/R2dbcParametersTest.java
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/DbUtils.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/QueryWithParameters.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/cassandra/StatementSetterGenerator.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/StatementSetterGenerator.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/r2dbc/R2dbcStatementSetterGenerator.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/cassandra/CassandraParametersTest.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/entity/TestEntity.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcParametersTest.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/r2dbc/R2dbcParametersTest.kt
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/mockito/SpyFromFieldPerClassTests.java
Labels: minor, module: database

#274 Cassandra list mapper optimized
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/cassandra/CassandraEntityGenerator.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/cassandra/AbstractCassandraRepositoryTest.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/cassandra/CassandraExtensionTest.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcExtensionTests.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcMacrosTest.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcResultsTest.kt
Labels: lang: kotlin, module: database, optimization

#273 Database Kotlin column annotation name fixed
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/EntityUtils.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/model/DbEntity.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/cassandra/CassandraEntitySymbolProcessorTest.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/cassandra/CassandraMapperTests.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/JdbcMapperTests.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/entity/JdbcEntitySymbolProcessorTest.kt
Labels: bug, lang: kotlin, module: database

#272 OpenAPI model enum variable naming fixed
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
Labels: bug, module: openapi

#264 `Wrapped<T>` generic support for Java fixed
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/ComponentTemplateHelper.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/GraphResolutionHelper.java
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/ServiceTypesHelper.java
  kora-app-annotation-processor/src/test/java/ru/tinkoff/kora/kora/app/annotation/processor/KoraAppProcessorTest.java
  kora-app-annotation-processor/src/test/java/ru/tinkoff/kora/kora/app/annotation/processor/WrappedDependenciesTests.java
  kora-app-annotation-processor/src/test/java/ru/tinkoff/kora/kora/app/annotation/processor/app/AppWithWrappedDependency.java
  kora-app-symbol-processor/src/test/kotlin/ru/tinkoff/kora/kora/app/ksp/KoraAppKspTest.kt
  kora-app-symbol-processor/src/test/kotlin/ru/tinkoff/kora/kora/app/ksp/WrappedDependenciesTests.kt
  kora-app-symbol-processor/src/test/kotlin/ru/tinkoff/kora/kora/app/ksp/app/AppWithWrappedDependency.kt
Labels: bug, lang: java, module: core

#268 OpenAPI additionalProps nullable support added
  openapi/openapi-generator/build.gradle
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
  openapi/openapi-generator/src/test/java/ru/tinkoff/kora/openapi/generator/KoraCodegenTest.java
  openapi/openapi-generator/src/test/resources/example/petstoreV3_additional_props.yaml
Labels: minor, module: openapi

#269 `List<T>` and `Set<T>` query parameter parsing fixed
  http/http-server-common/src/main/java/ru/tinkoff/kora/http/server/common/handler/RequestHandlerUtils.java
Labels: bug, module: http

#267 Add processing for xml element wrapped types for requests/responses
  http/soap-client-annotation-processor/src/main/java/ru/tinkoff/kora/soap/client/annotation/processor/SoapClasses.java
  http/soap-client-annotation-processor/src/main/java/ru/tinkoff/kora/soap/client/annotation/processor/SoapClientImplGenerator.java
  http/soap-client-annotation-processor/src/main/java/ru/tinkoff/kora/soap/client/annotation/processor/WebServiceClientAnnotationProcessor.java
  http/soap-client-annotation-processor/src/test/wsdl/simple-service.wsdl
  http/soap-client-symbol-processor/src/main/kotlin/ru/tinkoff/kora/soap/client/symbol/processor/SoapClasses.kt
  http/soap-client-symbol-processor/src/main/kotlin/ru/tinkoff/kora/soap/client/symbol/processor/SoapClientImplGenerator.kt
  http/soap-client-symbol-processor/src/test/wsdl/simple-service.wsdl
Labels: bug, module: soap

#275 JdbcTypesExtension should not provide dependencies for nullable entities
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/extension/JdbcTypesExtension.kt
Labels: bug, lang: kotlin, module: database

#277 Java model discriminator as required arg constructor fixed
  openapi/openapi-generator/src/main/resources/openapi/templates/kora/javaModel.mustache
Labels: bug, module: openapi

#276 Enum name for arrays fixed
  openapi/openapi-generator/src/main/java/ru/tinkoff/kora/openapi/generator/KoraCodegen.java
  openapi/openapi-generator/src/test/resources/example/petstoreV3_enum.yaml
Labels: bug, module: openapi

#282 Fix boolean value extraction in DefaultServiceConfigConfigValueExtractor
  grpc/grpc-client/src/main/java/ru/tinkoff/grpc/client/config/DefaultServiceConfigConfigValueExtractor.java
Labels: bug, module: core

#287 Json kora extension should not attempt to generate json mappers for non sealed interfaces
  json/json-symbol-processor/src/main/kotlin/ru/tinkoff/kora/json/ksp/extension/JsonKoraExtension.kt
Labels: bug, lang: kotlin, module: json

#289 Graph dependency hint message and match improved
  kora-app-annotation-processor/src/main/java/ru/tinkoff/kora/kora/app/annotation/processor/DependencyModuleHintProvider.java
  kora-app-symbol-processor/src/main/kotlin/ru/tinkoff/kora/kora/app/ksp/DependencyModuleHintProvider.kt
Labels: minor, module: core

#291 Intercept release should be called after dependent nodes released
  application-graph/src/main/java/ru/tinkoff/kora/application/graph/internal/GraphImpl.java
  application-graph/src/test/java/ru/tinkoff/kora/application/graph/GraphTest.java
Labels: bug, module: core

#288 CircuitBreakerConfig error message improved
  resilient/resilient-kora/src/main/java/ru/tinkoff/kora/resilient/circuitbreaker/CircuitBreakerConfig.java
Labels: optimization, module: resilient

#293 JDK scheduling pool potential outOfThreads fixed
  common/src/main/java/ru/tinkoff/kora/common/util/TimeUtils.java
  scheduling/scheduling-common/src/main/java/ru/tinkoff/kora/scheduling/common/telemetry/SchedulingLogger.java
  scheduling/scheduling-common/src/main/java/ru/tinkoff/kora/scheduling/common/telemetry/Slf4jSchedulingLogger.java
  scheduling/scheduling-jdk/src/main/java/ru/tinkoff/kora/scheduling/jdk/AbstractJob.java
  scheduling/scheduling-jdk/src/main/java/ru/tinkoff/kora/scheduling/jdk/DefaultJdkSchedulingExecutor.java
  scheduling/scheduling-jdk/src/main/java/ru/tinkoff/kora/scheduling/jdk/ScheduledExecutorServiceConfig.java
Labels: bug, module: scheduling

#294 JUnit extension full graph only with mocked parts fixed
  test/test-junit5/src/main/java/ru/tinkoff/kora/test/extension/junit5/KoraJUnit5Extension.java
  test/test-junit5/src/main/java/ru/tinkoff/kora/test/extension/junit5/TestGraphInitialized.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/initializemode/FieldPerClassTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/initializemode/FieldPerMethodTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/initializemode/MethodPerClassTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/initializemode/MethodPerMethodTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/initializemode/NestedFieldPerClassTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/initializemode/NestedFieldPerMethodTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/mockito/MockAndFullGraphTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/mockito/MockOnlyTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/mockito/MockWrappedTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/replace/ReplaceWrappedTests.java
  test/test-junit5/src/test/java/ru/tinkoff/kora/test/extension/junit5/testdata/TestApplication.java
Labels: bug, module: test

#292 adding maxConnectionAge and maxConnectionAgeGrace configs to grpcServer
  grpc/grpc-server/src/main/java/ru/tinkoff/kora/grpc/server/GrpcServerModule.java
  grpc/grpc-server/src/main/java/ru/tinkoff/kora/grpc/server/config/GrpcServerConfig.java
Labels: minor, module: grpc

#285 Json Kotlin accessor check added
  json/json-annotation-processor/src/main/java/ru/tinkoff/kora/json/annotation/processor/JsonUtils.java
  json/json-annotation-processor/src/main/java/ru/tinkoff/kora/json/annotation/processor/extension/JsonKoraExtension.java
  json/json-annotation-processor/src/main/java/ru/tinkoff/kora/json/annotation/processor/writer/WriterTypeMetaParser.java
  json/json-annotation-processor/src/test/java/ru/tinkoff/kora/json/annotation/processor/NativeTypesTest.java
  json/json-symbol-processor/src/main/kotlin/ru/tinkoff/kora/json/ksp/JsonUtils.kt
  json/json-symbol-processor/src/main/kotlin/ru/tinkoff/kora/json/ksp/extension/JsonKoraExtension.kt
  json/json-symbol-processor/src/main/kotlin/ru/tinkoff/kora/json/ksp/writer/WriterTypeMetaParser.kt
  json/json-symbol-processor/src/test/kotlin/ru/tinkoff/kora/json/ksp/AbstractJsonSymbolProcessorTest.kt
  json/json-symbol-processor/src/test/kotlin/ru/tinkoff/kora/json/ksp/NativeTypesTest.kt
  json/json-symbol-processor/src/test/kotlin/ru/tinkoff/kora/json/ksp/SupportedTypesTest.kt
Labels: bug, lang: kotlin, module: json
