Repository kora-projects/kora, pull requests merged in 2025-02, with the labels that each got.

#241 Replace deprecated opentelemetry `SemanticAttributes` usages
  dependencies.gradle
  micrometer/micrometer-module/build.gradle
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/camunda/engine/bpmn/Micrometer120CamundaEngineBpmnMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/camunda/engine/bpmn/Micrometer123CamundaEngineBpmnMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/camunda/rest/Micrometer120CamundaRestMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/camunda/rest/Micrometer123CamundaRestMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/db/Opentelemetry120DataBaseMetricWriter.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/db/Opentelemetry123DataBaseMetricWriter.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/grpc/client/Opentelemetry120GrpcClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/grpc/client/Opentelemetry123GrpcClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/grpc/server/MicrometerGrpcServerMetricsFactory.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/http/client/Opentelemetry120HttpClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/http/client/Opentelemetry123HttpClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/http/server/tag/DefaultMicrometerHttpServerTagsProvider.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/http/server/tag/Opentelemetry123MicrometerHttpServerTagsProvider.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/jms/consumer/MicrometerJmsConsumerMetricsFactory.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/kafka/consumer/Opentelemetry120KafkaConsumerMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/kafka/consumer/Opentelemetry123KafkaConsumerMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/kafka/producer/Opentelemetry120KafkaProducerMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/kafka/producer/Opentelemetry123KafkaProducerMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/s3/client/Opentelemetry120S3ClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/s3/client/Opentelemetry120S3KoraClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/s3/client/Opentelemetry123S3ClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/s3/client/Opentelemetry123S3KoraClientMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/scheduling/Opentelemetry123SchedulingMetrics.java
  micrometer/micrometer-module/src/main/java/ru/tinkoff/kora/micrometer/module/soap/client/Opentelemetry123SoapClientMetrics.java
  opentelemetry/opentelemetry-common/build.gradle
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/camunda/rest/OpentelemetryCamundaRestTracer.java
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/db/OpentelemetryDataBaseTracer.java
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/grpc/server/OpentelemetryGrpcServerSpan.java
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/grpc/server/OpentelemetryGrpcServerTracer.java
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/http/client/OpentelemetryHttpClientTracer.java
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/http/server/OpentelemetryHttpServerTracer.java
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/jms/consumer/OpentelemetryJmsConsumerTracer.java
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/kafka/consumer/OpentelemetryKafkaConsumerTracer.java
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/kafka/consumer/OpentelemetryKafkaProducerTracer.java
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/s3/client/OpentelemetryS3ClientTracer.java
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/s3/client/OpentelemetryS3KoraClientTracer.java
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/scheduling/OpentelemetrySchedulingTracer.java
  opentelemetry/opentelemetry-module/src/main/java/ru/tinkoff/kora/opentelemetry/module/soap/client/OpentelemetrySoapClientTracer.java
Labels: module: telemetry

#240 Fix cassandra UDT mappers for lists in java processor
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/cassandra/CassandraUdtAnnotationProcessor.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/cassandra/extension/CassandraTypesExtension.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/cassandra/CassandraUdtTest.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/cassandra/TestGettableByName.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/cassandra/TestSettableByName.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/cassandra/repository/UdtRecords.java
Labels: bug, module: database

#245 `@EntityCassandra` annotation with processors
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/cassandra/CassandraEntityAnnotationProcessor.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/cassandra/CassandraEntityGenerator.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/cassandra/CassandraTypes.java
  database/database-annotation-processor/src/main/java/ru/tinkoff/kora/database/annotation/processor/cassandra/extension/CassandraTypesExtension.java
  database/database-annotation-processor/src/main/resources/META-INF/gradle/incremental.annotation.processors
  database/database-annotation-processor/src/main/resources/META-INF/services/javax.annotation.processing.Processor
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/cassandra/CassandraExtensionTest.java
  database/database-annotation-processor/src/test/java/ru/tinkoff/kora/database/common/annotation/processor/cassandra/entity/CassandraEntityAnnotationProcessorTest.java
  database/database-cassandra/src/main/java/ru/tinkoff/kora/database/cassandra/annotation/EntityCassandra.java
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/cassandra/CassandraEntityGenerator.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/cassandra/CassandraEntitySymbolProcessor.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/cassandra/CassandraEntitySymbolProcessorProvider.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/cassandra/CassandraTypes.kt
  database/database-symbol-processor/src/main/kotlin/ru/tinkoff/kora/database/symbol/processor/cassandra/extension/CassandraTypesExtension.kt
  database/database-symbol-processor/src/main/resources/META-INF/services/com.google.devtools.ksp.processing.SymbolProcessorProvider
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/cassandra/CassandraEntitySymbolProcessorTest.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/cassandra/CassandraExtensionTest.kt
  database/database-symbol-processor/src/test/kotlin/ru/tinkoff/kora/database/symbol/processor/jdbc/entity/CassandraEntitySymbolProcessorTest.kt
Labels: module: database, optimization

#258 GraphImpl log slow node log type
  application-graph/src/main/java/ru/tinkoff/kora/application/graph/internal/GraphImpl.java
Labels: minor
